<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>来创吧&middot;密码重置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery/jquery.js"></script>
    <script src="__PUBLIC__/js/bootstrap/bootstrap.js"></script>
    <script src="__PUBLIC__/js/bootstrap/theme.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS.js"></script>
    <script src="__PUBLIC__/js/util/send_msg.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS_sha1.js"></script>
  </head>

<body>
  <include file="./Public/tpl/navbar_home.html" />
  <div class="well">
  	<div class="container" style="margin-top:70px">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="panel panel-default theme-outline">
					<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-heading theme-h4">账号设置</span>
						</p>
					</div>
				  	<div class="panel-body">
				  		<div class="panel">
				  			<p class="theme-h5">修改密码</p>
				  			<div class="form-horizontal">
							  	
							  	<div class="form-group">
							    	<label for="pwd2" class="col-md-2 col-md-offset-1 col-xs-12 control-label"><span class="required">*</span>新密码</label>
							    	<div class="col-md-6">
						        		<input type="password" class="form-control" id="pwd2">
						        	</div>
							  	</div>
							  	<div class="form-group">
							    	<label for="pwd3" class="col-md-2 col-md-offset-1 col-xs-12 control-label"><span class="required">*</span>重复新密码</label>
							    	<div class="col-md-6">
						        		<input type="password" class="form-control" id="pwd3">
						        	</div>
							  	</div>
							  	
							</div>
							<div class="row">
						    	<div class="col-md-2 col-md-offset-3 col-xs-6 col-xs-offset-3">
						        	<button type="submit" class="btn btn-default theme-btn form-control" onclick="submitSecure()">&nbsp;保存&nbsp;</button>    
						        </div>
						    </div>

				  		</div>
				  		
				  		
					</div>
			  	</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
		    <div class="modal-body">
		      <h4 id="alert_content" style="color:#5B5B5B"></h4>
		    </div>
		    <div class="modal-footer">
		      <div id="alertBtn">
		      	<button type="button" class="btn btn-default" data-dismiss="modal" id="modal_confirm">确定</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
  </div>
  <include file="./Public/tpl/footer_home.html" />
</body>
<script src="__PUBLIC__/js/bootstrap/theme.js"></script>
<script src="__PUBLIC__/js/util/form_validate.js"></script>
<script>

	var my=0;
  	$('a[data-toggle=tooltip]').mouseover(function(){$(this).tooltip('show');});
  	

  	function submitSecure(){
  		if(checkPwd('#pwd2','#pwd3') && checkValue('#pwd2','64','6','密码不能少于6位')){
  			if($('#pwd1').val()==$('#pwd2').val()){
  				modalShow("alert_content","myModal",'修改密码与原密码一致，请重新输入');
  			}
  			else{
  				var data = "key1="+"{$user_id}"+'&';
	  			data += "key2="+CryptoJS.SHA1($('#pwd2').val())+'&';
	  			data += "key3="+CryptoJS.SHA1($('#pwd3').val())+'&';
	  			
	  			var xmlHttp = createRequest();
	  			request(xmlHttp,data,'saveChange');
	  			if(xmlHttp.responseText == 200){
	  				my=1;
	  				var show="修改密码成功，请重新登录。5秒内即将跳转至首页";
					 modalShow('alert_content','myModal',show);
					 var url='{:U("Home/Index/index")}';
					 var command="window.location.href='"+url+"';";
					 setTimeout(command,5000);
	  			}
	  			else if(xmlHttp.responseText == 404){
	  				my=1;
	  				modalShow("alert_content","myModal",'修改密码错误，请重试。5秒内即将跳转至首页');

					var url='{:U("Home/Index/index")}';
					var command="window.location.href='"+url+"';";
					setTimeout(command,5000);
	  			}
	  			else{

	  			}
  			}
  		}
  	}

</script>
<script>
	var wait=60;

	 $('#modal_confirm').click(function(){
	        if(my==1)
	        	window.location.href='{:U("Home/Index/index")}';
	    });
	function settime(o,val) {
		if (wait == 0) {
            o.removeAttribute("disabled");            
            o.value="获取验证码";
            wait = 60;
        } 
        else {
        	if (wait == 60){
        		if(checkPhone(val)){
	        		queryCheckCode(val);
	        	}
	        	else{
	        		wait = 1;
	        	}
	        }
            o.setAttribute("disabled", true);
            o.value="重新发送(" + wait + ")";
            wait--;
            setTimeout(function() {
                settime(o)
            },
            1000)
        }
    }
</script>
</html>