<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>来创吧&middot;项目主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery/jquery.js"></script>
    <script src="__PUBLIC__/js/bootstrap/bootstrap.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS.js"></script>
    <script src="__PUBLIC__/js/util/send_msg.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS_sha1.js"></script>
  </head>

<body>
  <include file="./Public/tpl/navbar_home.html" />
  <div class="well">
  	<div class="container" style="margin-top:70px">
	    <div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="panel panel-default theme-outline">
				  	<div class="panel-body">
					  	<div class='row'>
					  		<div class="col-md-2 col-xs-4">
					  			<a href="#" class="thumbnail theme-outline">
					  				<form method="post" action="__URL__/logoSave" enctype="multipart/form-data" id="profile_form">
									    <input type="file" name="profile" id="profile" accept="image/jpg,imapge/jpeg,image/png,image/gif" height="0px" width="0px" onchange="finish_upload('#profile','#profile_form')"/>
									</form>
							      <img src="__PUBLIC__/pic/profile.png" alt="头像" height="100px" width="100px">
							    </a>
					  		</div>
							<div class="col-md-10 col-xs-8">
								<p class="theme-h3 hide-edit">{$info.project_name}<a class="btn" style="display:none"><span class="glyphicon glyphicon-pencil theme-color"></span></a></p>
								<p class="hide-edit">{$info.project_brief}<a class="btn" style="display:none"><span class="glyphicon glyphicon-pencil theme-color"></span></a></p>
								<div class="row">
									<div class="col-md-6">
										<div id="interests" class="hide-edit"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;&nbsp;{$info.project_type}<a class="btn" style="display:none"><span class="glyphicon glyphicon-pencil theme-color"></span></a></div>
									</div>
									<div class="col-md-2 col-md-offset-3 text-right">
										<if condition="$follow eq false">
											<a class="btn btn-default theme-btn-inverse form-control" onclick="followPro({$info.project_id},'FOLLOWING')">关注</a>
											<else/>
											<a class="btn btn-default theme-btn form-control" onclick="followPro({$info.project_id},'UNFOLLOW')">已关注</a>
										</if>
										
									</div>
								</div>
							</div>
						</div>
					</div>
			  	</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-xs-12">
			  	<div class="panel panel-default theme-outline">
					<div class="panel-heading theme-heading">
						<h3 class="panel-title">
							项目介绍
							<a class="btn" href="#"><span class="glyphicon glyphicon-pencil theme-white" aria-hidden="true"></span></a>
						</h3>
					</div>
				  	<div class="panel-body">
				  		<p id="details"></p>
					</div>
			  	</div>
			  	<div class="panel panel-default theme-outline">
					<div class="panel-heading theme-heading">
						<h3 class="panel-title">创业团队<a class="btn"><span class="glyphicon glyphicon-pencil theme-white" aria-hidden="true"></span></a></h3>
					</div>
				  	<div class="panel-body">
				  		<div class="panel">
				  			<div class="panel-body">
							  	<div class='row'>
									<div class="col-md-1">
										<input type="image" class="thumbnail theme-profile" src="{$info.portrait}" height="60px" width="60px" onclick="javascript:window.location.href='../User/innovator/val/{$info.project_admin}'"/>
									</div>
									<div class="col-md-2">
										<p class="theme-h4">&nbsp;&nbsp;&nbsp;{$info.name}</p>
										<p>&nbsp;&nbsp;&nbsp;创始人<p>
									</div>
									<div class="col-md-1">
										<input type="image" class="thumbnail theme-profile" src="__PUBLIC__/pic/plus.png" height="60px" width="60px"/>
									</div>
								</div>
							</div>
						</div>
						<div class="panel">
				  			<div class="panel-body">
				  				<div class='row'>
				  					<p>{$info.project_member}</p>
				  				</div>
				  			</div>
				  		</div>
					</div>
			  	</div>
			  	<div class="panel panel-default theme-outline">
					<div class="panel-heading theme-heading">
						<h3 class="panel-title">融资情况<a class="btn"><span class="glyphicon glyphicon-pencil theme-white" aria-hidden="true"></span></a></h3>
					</div>
				  	<div class="panel-body">
					  	<div class="panel">
				  			<div class="panel-body">
							  	<div class='row'>
									<div class="col-md-1">
										<input type="image" class="thumbnail theme-profile" src="__PUBLIC__/pic/plus.png" height="60px" width="60px"/>
									</div>
								</div>
							</div>
						</div>
						<div class="panel">
				  			<div class="panel-body">
				  				<div class='row'>
				  					<p>{$info.project_fi}</p>
				  				</div>
				  			</div>
				  		</div>
					</div>
			  	</div>
			  	<div class="panel panel-default theme-outline">
					<div class="panel-heading theme-heading">
						<h3 class="panel-title">已有投资人</h3>
					</div>
				  	<div class="panel-body">
					  	<div class='row'>
							<div class="col-md-6 col-xs-6">
								<h4>姓名</h4>
								<h5>学号</h5>
								<h5>党支部</h5>
								<h5>入党日期／推优日期</h5>
							</div>
						</div>
					</div>
			  	</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="panel panel-default theme-outline">
					<div class="panel-heading">
						<h3 class="panel-title">其他说明</h3>
					</div>
				  	<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<p class="theme-h4">招聘信息</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<p class="theme-h4">融资需求</p>
							</div>
						</div>
					</div>
			  	</div>
			</div>
		</div>
	</div>
	
  </div>
</body>
 <script src="__PUBLIC__/js/bootstrap/theme.js"></script>
<script>
  $('a[data-toggle=tooltip]').mouseover(function(){$(this).tooltip('show');});
  $("#details")[0].innerHTML = unescape('{$info.project_intro}');

  function followPro(id,value){
  	var xmlHttp = createRequest();
  	request(xmlHttp,"key="+value,"proFollow?val="+id);
    if(xmlHttp.responseText==200){
      document.location.reload();
    }
  	
  }
</script>
</html>