<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>来创吧&middot;项目主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery/jquery.js"></script>
    <script src="__PUBLIC__/js/bootstrap/bootstrap.js"></script>
    <script src="__PUBLIC__/js/util/send_msg.js"></script>
    <script src="__PUBLIC__/Jcrop/js/jquery.Jcrop.js"></script>
  </head>

<body>
  <include file="./Public/tpl/navbar_home.html" />
  <div class="well">
  	<div class="container" style="margin-top:70px">
  		<div class="alert alert-info alert-dismissible" role="alert" style="display:none">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <div id="alert_window">
		  </div>
		</div>
	    <div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="panel panel-default theme-outline">
				  	<div class="panel-body">
					  	<div class='row'>
					  		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-12 text-center">
					  			<if condition="strlen($info['project_logo']) gt 0">
						      		<img src="{$info.project_logo}" class="thumbnail theme-profile" alt="头像" height="90px" width="90px" />
						      		<else />
						      		<img src="__PUBLIC__/pic/project.png" class="thumbnail theme-profile" alt="头像" height="90px" width="90px" />
						      	</if>
					  		</div>
							<div class="col-lg-11 col-md-10 col-sm-10 col-xs-12">
								<p class="theme-h3">&nbsp;&nbsp;{$info.project_name}</p>
								<p>&nbsp;&nbsp;&nbsp;{$info.project_brief}</p>
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<p id="interests" class="theme-small">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-tag" aria-hidden="true"></span></p>
									</div>
									<div class="col-md-2 col-md-offset-3 col-sm-4 col-sm-offset-1 col-xs-6 col-xs-offset-3 text-right">
										<if condition="$follow eq false">
											<a class="btn btn-default theme-btn-inverse theme-nav form-control" onclick="followPro({$info.project_id},'FOLLOWING','__URL__/proFollow')">关注</a>
											<else/>
											<a class="btn btn-default theme-btn theme-nav form-control" onclick="followPro({$info.project_id},'UNFOLLOW','__URL__/proFollow')">已关注</a>
										</if>
										
									</div>
								</div>
							</div>
						</div>
					</div>
			  	</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-xs-12">
			  	<div class="panel panel-default theme-outline">
					<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-heading theme-h4">&nbsp;项目介绍&nbsp;</span>
						</p>
					</div>
				  	<div class="panel-body">
				  		<div class="row">
				  			<div class="col-md-12">
				  				<p id="details"></p>
				  			</div>
				  		</div>
					</div>
			  	</div>
			  	<div class="panel panel-default theme-outline">
					<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-h4 theme-heading">创业团队</span>
						</p>
					</div>
				  	<div class="panel-body">
				  		<div class="panel">
				  			<div class="panel-body">
							  	<div class='row'>
									<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
										<input type="image" class="thumbnail theme-profile" src="{$info.portrait}" height="60px" width="60px" onclick="openUser({$info.project_admin})"/>
									</div>
									<div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
										<p class="theme-h4">&nbsp;&nbsp;&nbsp;{$info.name}</p>
										<p>&nbsp;&nbsp;&nbsp;创始人<p>
									</div>
								</div>
								<div class="row">
									<volist name="memberlist" id="vo">
										<div class="memberField">
											<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 theme-nav">
												<if condition="strlen($vo['portrait']) gt 0">
													<input type="image" class="thumbnail theme-profile" src="{$vo.portrait}" height="60px" width="60px" onclick="openUser({$vo.user_id})"/>
													<else />
													<input type="image" class="thumbnail theme-profile" src="__PUBLIC__/pic/innovator.png" height="60px" width="60px" onclick="openUser({$vo.user_id})"/>
												</if>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-4 col-xs-8 theme-nav">
												<p class="theme-h4">&nbsp;&nbsp;&nbsp;{$vo.nickname}</p>
												<p>&nbsp;&nbsp;&nbsp;{$vo.title}</p>
											</div>
										</div>
									</volist>
								</div>
							</div>
						</div>
						<div class="panel">
				  			<div class="panel-body">
				  				<div class='row'>
				  					<div class="col-md-12">
					  					<p id="project_member"></p>
									</div>
				  				</div>
				  			</div>
				  		</div>
					</div>
			  	</div>
			  	<div class="panel panel-default theme-outline">
					<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-h4 theme-heading">融资情况</span>
						</p>
					</div>
				  	<div class="panel-body">
						<div class="panel">
				  			<div class="panel-body">
				  				<volist name="filist" id="profi">
					  				<div class='row theme-well'>
					  					<br>
					  					<div class="col-md-6 col-sm-12 col-xs-12">
											<p>
												<span class="theme-h5 label label-warning">{$profi.round}</span>
												<span class="theme-small">{$profi.invest_time}</span>
											</p>
											<p>{$profi.investor_name}&nbsp;|&nbsp;<span class="theme-small">投资金额&nbsp;</span>{$profi.invest_amount}万{$profi.invest_cur}</p>
										</div>
										
					  				</div>
					  			</volist>
				  			</div>
				  		</div>
				  		<div class="panel">
				  			<div class="panel-body">
				  				<div class='row'>
				  					<div class="col-md-12 col-xs-12">
					  					<p id="project_fi"></p>
									</div>
				  				</div>
				  			</div>
				  		</div>
					</div>
			  	</div>
			  	<div class="panel panel-default theme-outline">
					<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-h4 theme-heading">已有投资人</span>
						</p>
					</div>
				  	<div class="panel-body">
					  	<div class="panel">
				  			<div class="panel-body">
								<div class="row">
									<volist name="investorlist" id="it">
										<div class="investorField">
											<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 theme-nav">
												<input type="image" class="thumbnail theme-profile" src="{$it.portrait}" height="60px" width="60px" onclick="openInvestor({$it.user_id})"/>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-4 col-xs-8 theme-nav">
												<p class="theme-h4">&nbsp;&nbsp;&nbsp;{$it.name}</p>
												<p class="theme-h4">&nbsp;</p>
											</div>
										</div>
									</volist>
								</div>
							</div>
						</div>
					</div>
			  	</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="panel panel-default theme-outline">
					<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-h4 theme-heading">其他说明</span>
						</p>
					</div>
				  	<div class="panel-body">
						<div class="row">
							<div class="col-md-9 col-xs-12">
								<p class="theme-h4">招聘信息</p>
								<p class="theme-h5-small" id="project_recruit"></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-9 col-xs-12">
								<p class="theme-h4">融资需求</p>
								<p class="theme-h5-small" id="project_require"></p>
							</div>
						</div>
						<div class="row">
							<if condition="session('type') eq 1">
								<div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
									<a class="btn btn-default theme-btn-inverse form-control" onclick="request_message({$info.project_id},'INVEST','PROJECT')">我要投资</a>
								</div>
							</if>
							<if condition="session('type') eq 2">
								<div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
									<a class="btn btn-default theme-btn-inverse form-control" onclick="request_message({$info.project_id},'JOIN','PROJECT')">我要加入</a>
								</div>
							</if>
						</div>
					</div>
			  	</div>
			  	<div class="panel panel-default theme-outline">
					<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-h4 theme-heading">相关资讯</span>
						</p>
					</div>
				  	<div class="panel-body">
				  		<volist name="news" id="vo">
				  			<div class="row">
				  				<div class="col-md-11 col-xs-11">
				  					<a class="theme-color theme-h5" onclick="openNews('{$vo.article_id}')">{$vo.article_title}</a>
				  				</div>
				  			</div>
				  			<div class="row">
				  				<div class="col-md-11 col-xs-11 text-right">
				  					<a class="theme-small" >{$vo.article_time}</a>
				  				</div>
				  			</div>
				  		</volist>
					</div>
			  	</div>

			  	<div class="panel panel-default theme-outline">
					<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-h4 theme-heading">类似项目</span>
						</p>
					</div>
				  	<div class="panel-body">
				  		<volist name="prolist" id="familiar">
				  			<div class="row theme-well-radius">
					  			<div class="col-sm-2 col-xs-3 theme-nav">
					  				<if condition="strlen($familiar['project_logo']) gt 0">
										<input type="image" class="thumbnail theme-profile" src="{$familiar.project_logo}" height="60px" width="60px" onclick="openProject('{$familiar.project_id}')"/>
										<else />
										<input type="image" class="thumbnail theme-profile" src="__PUBLIC__/pic/project.png" height="60px" width="60px" onclick="openProject('{$familiar.project_id}')"/>
									</if>
								</div>
								<div class="col-sm-9 col-xs-8 theme-nav">
									<p class="theme-h4">&nbsp;&nbsp;&nbsp;{$familiar.project_name}</p>
								</div>
							</div>
				  		</volist>
					</div>
			  	</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
		    <div class="modal-body">
		      <h4 id="alert_content" style="color:#5B5B5B"></h4>
		      <textarea rows="3" class="form-control" id="request_info" style="display:none"></textarea>
		    </div>
		    <div class="modal-footer">
		      <div id="alertBtn">
		      	<button type="button" class="btn btn-default" data-dismiss="modal" id="modal_confirm">确定</button>
		      </div>
		      <div id="joinRequest">
		      	<button type="button" class="btn btn-default theme-btn-inverse" data-dismiss="modal" id="join_confirm">确定</button>
			    <button type="button" class="btn btn-default" data-dismiss="modal" id="join_cancel">取消</button>
			    <input type="hidden" id="join_input" />
		      </div>
		      <div id="investRequest">
		      	<button type="button" class="btn btn-default theme-btn-inverse" data-dismiss="modal" id="invest_confirm">确定</button>
			    <button type="button" class="btn btn-default" data-dismiss="modal" id="invest_cancel">取消</button>
			    <input type="hidden" id="invest_input" />
		      </div>
		    </div>
		  </div>
		</div>
	</div>
  </div>
  <include file="./Public/tpl/footer_home.html" />
</body>
<script src="__PUBLIC__/js/bootstrap/theme.js"></script>
<script src="__PUBLIC__/js/Home/Case/edit.js"></script>
<script src="__PUBLIC__/js/Home/Case/init.js"></script>
<script src="__PUBLIC__/js/util/form_validate.js"></script>

<script>
	$('a[data-toggle=tooltip]').mouseover(function(){$(this).tooltip('show');});
	$('input[data-toggle=popover]').popover({'html':true});
	$('input[data-toggle=popover]').mouseover(function(){$(this).popover('show');}); 
	$('.memberField').mouseleave(function(){$('input[data-toggle=popover]').popover('hide');});
	$('.investorField').mouseleave(function(){$('input[data-toggle=popover]').popover('hide');});
	
	initializeProject1('{$info.project_intro}','{$info.project_member}','{$info.project_fi}','{$info.project_recruit}','{$info.project_require}');

	addInterests({$interests},"#interests");

	$('#details').find('img').addClass('img-responsive');

	$('#join_confirm').click(function(){
		send_message($('#join_input').val()+"attach="+$('#request_info').val(),'{:U("Home/Message/receiver")}');
	});

	$('#join_cancel').click(function(){
		$('#join_input').val('');
	});

	$('#invest_confirm').click(function(){
		send_message($('#invest_input').val(),'{:U("Home/Message/receiver")}');
	});

	$('#invest_cancel').click(function(){
		$('#invest_input').val('');
	});

	function openProject(id){
	    window.open("{:U('Home/Case/info/key/"+id+"')}");
	}

	function openUser(id){
		window.open("{:U('Home/User/innovator/val/"+id+"')}");
	}

	function openInvestor(id){
		window.open("{:U('Home/User/investor/val/"+id+"')}");
	}

	function openNews(id){
		window.open("{:U('Home/News/detail/p/"+id+"')}");
	}
  
</script>
</html>