<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>来创吧&middot;创建项目</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery/jquery.js"></script>
    <script src="__PUBLIC__/js/bootstrap/bootstrap.js"></script>
    <script src="__PUBLIC__/js/util/send_msg.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/editor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/editor/ueditor.all.min.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/editor/lang/zh-cn/zh-cn.js"></script>
    <style type="text/css">
      .required {
        color:#CD0000;
      }
    </style>
  </head>

<body>
  <include file="./Public/tpl/navbar_home.html" />
  <div class="well">
    <div class="container" style="margin-top:70px">
      <div class="panel theme-color">
        <div class="page-header">
          <div class="row">
            <div class="col-md-12 text-center">
            	<h3>创建项目</h3>
            </div>
          </div>
        </div>

    		<div class="row">
    		  <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">   
    		    <div class="form-group">
    		      <label for="proName"><span class="required">*</span>项目名称</label>
    		      <input type="text" class="form-control" id="proName" placeholder="项目名称, 如: 来创"/>
    		    </div>
    		    <div class="form-group">
    		      <label for="proBrief"><span class="required">*</span>项目一句话介绍</label>
    		      <input type="text" class="form-control" id="proBrief" placeholder="30字以内"></input>
    		    </div>
    		    <div class="form-group">
    		      <label for="proMember">项目成员介绍(可选)</label>
    		      <textarea rows="3" type="text" class="form-control" id="proMember" placeholder=""></textarea>
    		    </div>
    		    <div class="form-group">
    		      <label for="proFi">融资情况介绍(可选)</label>
    		      <textarea rows="3" type="text" class="form-control" id="proFi" placeholder=""></textarea>
    		    </div>
    		    <div class="form-group">
    		      <label for="proOther">招聘需求(可选)</label>
    		       <textarea rows="3" class="form-control" id="proRecruit" placeholder="是否需要招聘、招聘标准"></textarea>
    		    </div>
            <div class="form-group">
              <label for="proOther">融资需求(可选)</label>
               <textarea rows="3" class="form-control" id="proRequire" placeholder="是否需要融资"></textarea>
            </div>
            <div class="form-group">
              <label for="proField"><span class="required">*</span>领域</label>
              <select class="form-control" id="proField">
              </select>
            </div>
    		  </div>
    		</div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <script type="text/plain" id="myEditor" style="width:100%;height:400px;"></script>
          </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-4 col-xs-6">
              <button type="submit" class="btn btn-default theme-btn-inverse form-control" onclick="submitProject()">&nbsp;提交&nbsp;</button> 
            </div>
            <div class="col-md-2 col-xs-6">
              <a type="submit" class="btn btn-default theme-btn form-control" href="{:U('Home/User/index')}">&nbsp;取消&nbsp;</a> 
            </div>
        </div>
    	
       

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <h4 id="alert_content" style="color:#5B5B5B"></h4>
              </div>
              <div class="modal-footer">
                <div id="alertBtn">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modal_confirm">确定</button>
                </div>
                <div id="projectsRequest">
                    <button type="button" class="btn btn-default theme-btn-inverse" data-dismiss="modal" id="projects_confirm">发送</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="projects_cancel">不发送</button>
                    <input type="hidden" id="projects_input" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <include file="./Public/tpl/footer_home.html" />
</body>
<script src="__PUBLIC__/js/util/form_validate.js"></script>
<script src="__PUBLIC__/js/util/editor.js"></script>
<script src="__PUBLIC__/js/Home/Case/edit.js"></script>
<script src="__PUBLIC__/js/Home/Case/init.js"></script>
<script>
  $('a[data-toggle=tooltip]').mouseover(function(){$(this).tooltip('show');});
  var um = editorInitialize("myEditor");
  var field = {$field};
  optionInitialize(field);
  $('#projects_confirm').click(function(){
      send_message($('#projects_input').val(),'{:U("Home/Message/receiver")}');
      //document.location.reload();
      window.location.href='../User/index';
  });

  $('#articles_cancel').click(function(){
      $('#articles_input').val('');
      document.location.reload();
  });

</script>
</html>