<html>
<head>
    <title>管理员消息</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="__PUBLIC__/js/jquery/jquery.js"></script>
    <script src="__PUBLIC__/js/bootstrap/bootstrap.js"></script>
</head>
<body>
	<include file="./Public/tpl/navbar_admin.html" />
	<div class="container">
		<div class="page-header">
	      <!-- 页面标题 -->
	    	<h3>消息列表</h3>
	  </div>
        
    <div class="row">
      <div class="col-md-12 col-xs-12">
        


          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#wantyou" aria-controls="home" role="tab" data-toggle="tab">I Want You</a></li>
            <li role="presentation"><a href="#needyou" aria-controls="profile" role="tab" data-toggle="tab">I Need You</a></li>
            <li role="presentation"><a href="#joinyou" aria-controls="messages" role="tab" data-toggle="tab">Join You</a></li>
            
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            
            <div role="tabpanel" class="tab-pane active" id="wantyou">
              <table class="table table-hover  table-condensed table-responsive" style="white-space: nowrap;" >
                <tr>
                  <th class="text-center">消息id</th>
                  <th class="text-center">from_id</th>
                  <th class="text-center">to_id</th>
                  <th class="text-center">发送时间</th>
                  <th class="text-center">查看详情</th>
                </tr> 
                <volist name="iwantyou" id="x">
                  <if condition="$x['adminread'] eq 0">
                        <tr class="danger">
                          <td class="text-center">{$x.id}</td>
                          <td class="text-center">{$x.from_id}</td>
                          <td class="text-center">{$x.to_id}</td>
                          <td class="text-center">{$x.sent_time}</td>
                          <td class="text-center">
                            <a data-toggle="tooltip" data-placement="top" title="消息详情" class="btn" href="__URL__/messageDetail?key={$x.id}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                          </td>
                        </tr>
                  <else/>
                        <tr >
                          <td class="text-center">{$x.id}</td>
                          <td class="text-center">{$x.from_id}</td>
                          <td class="text-center">{$x.to_id}</td>
                          <td class="text-center">{$x.sent_time}</td>
                          <td class="text-center">
                            <a data-toggle="tooltip" data-placement="top" title="消息详情" class="btn" href="__URL__/messageDetail?key={$x.id}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                          </td>
                        </tr>
                  </if>
                </volist>
              </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="needyou">
              <table class="table table-hover  table-condensed table-responsive" style="white-space: nowrap;" >
                <tr>
                  <th class="text-center">消息id</th>
                  <th class="text-center">from_id</th>
                  <th class="text-center">to_id</th>
                  <th class="text-center">发送时间</th>
                  <th class="text-center">查看详情</th>
                </tr> 
                <volist name="ineedyou" id="x">
                  <if condition="$x['adminread'] eq 0">
                    <tr class="danger">
                      <td class="text-center">{$x.id}</td>
                      <td class="text-center">{$x.from_id}</td>
                      <td class="text-center">{$x.to_id}</td>
                      <td class="text-center">{$x.sent_time}</td>
                      <td class="text-center">
                        <a data-toggle="tooltip" data-placement="top" title="消息详情" class="btn" href="__URL__/messageDetail?key={$x.id}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                      </td>
                    </tr>
                    <else/>
                    <tr >
                      <td class="text-center">{$x.id}</td>
                      <td class="text-center">{$x.from_id}</td>
                      <td class="text-center">{$x.to_id}</td>
                      <td class="text-center">{$x.sent_time}</td>
                      <td class="text-center">
                        <a data-toggle="tooltip" data-placement="top" title="消息详情" class="btn" href="__URL__/messageDetail?key={$x.id}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                      </td>
                    </tr>
                  </if>
                </volist>
              </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="joinyou">
              <table class="table table-hover  table-condensed table-responsive" style="white-space: nowrap;" >
                <tr>
                  <th class="text-center">消息id</th>
                  <th class="text-center">from_id</th>
                  <th class="text-center">to_id</th>
                  <th class="text-center">发送时间</th>
                  <th class="text-center">查看详情</th>
                </tr> 
                <volist name="ijoinyou" id="x">
                   <if condition="$x['adminread'] eq 0">
                        <tr class="danger">
                          <td class="text-center">{$x.id}</td>
                          <td class="text-center">{$x.from_id}</td>
                          <td class="text-center">{$x.to_id}</td>
                          <td class="text-center">{$x.sent_time}</td>
                          <td class="text-center">
                            <a data-toggle="tooltip" data-placement="top" title="消息详情" class="btn" href="__URL__/messageDetail?key={$x.id}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                          </td>
                        </tr>
                        <else/>
                        <tr >
                          <td class="text-center">{$x.id}</td>
                          <td class="text-center">{$x.from_id}</td>
                          <td class="text-center">{$x.to_id}</td>
                          <td class="text-center">{$x.sent_time}</td>
                          <td class="text-center">
                            <a data-toggle="tooltip" data-placement="top" title="消息详情" class="btn" href="__URL__/messageDetail?key={$x.id}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                          </td>
                        </tr>
                    </if>
                </volist>
              </table>
            </div>
            
          </div>

       


      </div>
    </div>
  </div>
</body>
<script>
    $('a[data-toggle=tooltip]').mouseover(function(){$(this).tooltip('show');});
</script>

</html>
