.theme-color {
	color:#102D4A;
}

.theme-bg {
	background-color:#102D4A;
}

.theme-white {
	color:#FFFFFF;
}

ul li.active {
	border:0;
	border-bottom:2px solid #102D4A;
}

.theme-container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top:15px;
  padding-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
}

.theme-btn {
	color:#102D4A;
	background-color:#FFFFFF;
	border:0;
	border-bottom:1px solid #102D4A;
	border-top: 1px solid #102D4A;
	border-left: 1px solid #102D4A;
	border-right: 1px solid #102D4A;
}

.theme-profile {
	color:#102D4A;
	background-color:#FFFFFF;
	border:0;
	border-bottom:1px solid #102D4A;
	border-top: 1px solid #102D4A;
	border-left: 1px solid #102D4A;
	border-right: 1px solid #102D4A;
	padding:0;
	margin-right: auto;
  	margin-left: auto;
  	margin-top: auto;
  	margin-bottom: auto;
}

.theme-outline {
	color:#102D4A;
	background-color:#FFFFFF;
	border:0;
	border-bottom:1px solid #102D4A;
	border-top: 1px solid #102D4A;
	border-left: 1px solid #102D4A;
	border-right: 1px solid #102D4A;
	padding-top: auto;
  	padding-bottom: auto;
}

.panel-default > .theme-heading {
  color: #ffffff;
  background-color: #102D4A;
}

.theme-btn-inverse {
	background-color:#102D4A;
	color:#FFFFFF;
}

.theme-small {
	color:#999999;
}

.item-container{
	padding-right: 55px;
  	padding-left: 55px;
  	padding-top: 55px;
  	padding-bottom: 55px;
  	margin-right: auto;
  	margin-left: auto;
}

.theme-h3 {
	font-size:25px; 
	font-weight: bold; 
	margin-top:5px; 
	margin-bottom:10px
}

.theme-h4 {
	font-size:18px; 
	margin-top:0; 
	margin-bottom:5px
}

.theme-nav {
	margin-top:10px; 
	margin-bottom:10px;
}

.required {
	color:#CD0000;
}