.well{
  margin-bottom:0;
}

small {
  color:#A2A2A2;
}

.theme-color {
	color:#253B58;
}

.theme-bg {
	background-color:#253B58;
}

.theme-white {
	color:#FFFFFF;
}

ul li.active {
	border:0;
}

.theme-nav-tabs > li {
  float: left;
  margin-bottom: -1px;
  border-bottom:1px solid #A2A2A2;
}

.theme-nav-tabs > li > a {
  color:#A2A2A2;
  margin-right: 2px;
  line-height: 1.428571429;
}

.theme-nav-tabs > li > a
.theme-nav-tabs > li > a:active,
.theme-nav-tabs > li > a:hover,
.theme-nav-tabs > li > a:focus{
  color:#253B58;
  background-color: #FFFFFF;
}

.theme-nav-tabs > li.active > a,
.theme-nav-tabs > li.active > a:active,
.theme-nav-tabs > li.active > a:hover,
.theme-nav-tabs > li.active > a:focus {
  color:#253B58;
  background-color: #FFFFFF;
  border-bottom:5px solid #253B58;
}

.theme-container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top:15px;
  padding-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
}

.theme-btn {
	color:#253B58;
	background-color:#FFFFFF;
	border:0;
	border-bottom:1px solid #A2A2A2;
	border-top: 1px solid #A2A2A2;
	border-left: 1px solid #A2A2A2;
	border-right: 1px solid #A2A2A2;
}

.theme-btn:active,
.theme-btn:focus,
.theme-btn:hover{
  color:#253B58;
  background-color:#FFFFFF;
  border:0;
  border-bottom:1px solid #253B58;
  border-top: 1px solid #253B58;
  border-left: 1px solid #253B58;
  border-right: 1px solid #253B58;
  outline:none;
}

.theme-icon-btn{
  color:#253B58;
  border:0;
}

.theme-icon-btn:active,
.theme-icon-btn:focus,
.theme-icon-btn:hover{
  color:#253B58;
  border:0;
  outline:none;
}

.theme-well:hover,
.theme-well-radius:hover{
  /*margin-left:auto;
  margin-right:auto;*/
  background-color:#A2A2A2;
  background-color:rgba(0,0,0,0.04);
}

.theme-well-radius{
  border-radius: 6px;
  border: 3px solid #FFFFFF;
}

.theme-item{
  padding-top:20px;
  padding-bottom: 20px;
  background-color:#FFFFFF;
  height:100px;
  border-bottom:1px solid #A2A2A2;
  border-top: 1px solid #A2A2A2;
  border-left: 1px solid #A2A2A2;
  border-right: 1px solid #A2A2A2;
}

.theme-item-container{
  position: absolute;
  top: 42%;
  z-index: 5;
  display: inline-block;
}

.theme-profile {
	color:#253B58;
	background-color:#FFFFFF;
	border:0;
	padding:0;
	margin-right: 0;
  margin-left: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.theme-label-btn {
  color:#253B58;
  background-color:#FFFFFF;
  padding-right: 1px;
  padding-left: 1px;
  font-size: 75%;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  width: 120%;

}

.theme-label-btn:active,
.theme-label-btn:focus,
.theme-label-btn:hover{
  border-radius: .25em;
  border-bottom:1px solid #A2A2A2;
  border-top: 1px solid #A2A2A2;
  border-left: 1px solid #A2A2A2;
  border-right: 1px solid #A2A2A2;

}

.theme-label-btn.active{
  border-radius: .25em;
  border-bottom:1px solid #253B58;
  border-top: 1px solid #253B58;
  border-left: 1px solid #253B58;
  border-right: 1px solid #253B58;
}

.theme-profile:active,
.theme-profile:focus,
.theme-profile:hover{
  border:0;
  outline:none;
}

.theme-logo {
  padding:0;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.theme-outline {
	color:#253B58;
	background-color:#FFFFFF;
	border:0;
	padding-top: auto;
  padding-bottom: auto;
}

.panel-title > .theme-heading {
  border:0;
  border-bottom:3px solid #CCCCCC;
  color: #253B58;
  padding-bottom: 6px;
}

.theme-panel-heading{
  padding: 15px 20px;
  border-bottom: 1px solid #CCCCCC;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding-bottom:6px; 
  background-color:#FFFFFF
}

.theme-btn-inverse {
	background-color:#253B58;
	color:#FFFFFF;
}

.theme-btn-alpha {
  color:#FFFFFF;
  background-color:#000000;
  background-color:rgba(0,0,0,0.2);
}

.theme-btn-alpha:active,
.theme-btn-alpha:focus,
.theme-btn-alpha:hover{
  background-color:#FFFFFF;
  color:#253B58;
  outline:none;
}

.theme-btn-inverse:active,
.theme-btn-inverse:focus,
.theme-btn-inverse:hover{
  background-color:#FFFFFF;
  color:#253B58;
  border-radius: .25em;
  border-bottom:1px solid #253B58;
  border-top: 1px solid #253B58;
  border-left: 1px solid #253B58;
  border-right: 1px solid #253B58;
  outline:none; 
}

.theme-small {
  font-size:10px; 
	color:#999999;
}

.item-container{
	padding-right: 55px;
  	padding-left: 55px;
  	padding-top: 55px;
  	padding-bottom: 55px;
  	margin-right: auto;
  	margin-left: auto;
}

.theme-h3 {
	font-size:24px; 
	margin-top:5px; 
	margin-bottom:5px;
}

.theme-h4 {
	font-size:18px; 
	margin-top:0; 
	margin-bottom:5px
}

.theme-h5 {
  font-size:14px; 
  margin-top:0; 
  margin-bottom:5px
}

.theme-h5-small {
  font-size:14px; 
  color:#999999;
  margin-top:0; 
  margin-bottom:5px
}

.theme-nav {
	margin-top:10px; 
	margin-bottom:10px;
  vertical-align: middle;
}

.required {
	color:#CD0000;
}

.theme-form-control-1 {
  display: inline-block;
  width: 15%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.theme-form-control-4 {
  display: inline-block;
  width: 40%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.theme-form-control-6 {
  display: inline-block;
  width: 60%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

textarea.theme-form-control-6 {
  height: auto;
}

.theme-form-control-8 {
  display: inline-block;
  width: 80%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

textarea.theme-form-control-8 {
  height: auto;
}

.theme-hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #878B91;
}

.theme-news{
  background-size: cover; 
  -moz-background-size: cover;
  height:160px;
  width:100%;
  padding-top: 122px;
  cursor: pointer;
}

.theme-news:hover{
  background-color:#000000;
  opacity: 0.8;
  filter:Alpha(opacity=80);
  -moz-opacity:0.8;
  background-color:rgba(0,0,0,0.8);
}

.theme-news-title{
  color:#FFFFFF;
  background-color:#253B58;
  background-color:rgba(0,0,0,0.2);
  font-size: 18px;
}

li.theme-indicator{
  border: 1px solid #253B58;
  color:#253B58;
}

