<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>来创吧&middot;投资人管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery/jquery.js"></script>
    <script src="__PUBLIC__/js/bootstrap/bootstrap.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS.js"></script>
    <script src="__PUBLIC__/js/util/send_msg.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS_sha1.js"></script>
    <script src="__PUBLIC__/js/util/angular.min.js"></script>
    <script src="__PUBLIC__/js/util/angular-route.js"></script>
    <script src="__PUBLIC__/js/Admin/Audit/auditInvestorPsVerify.js"></script>
    <script type="text/javascript">init({$userid});</script>
  </head>

<body  >
  <include file="./Public/tpl/navbar_admin.html" />
  <div class="well" ng-app="myinvespapp" ng-controller="userController">
  	<div class="container" style="margin-top:70px">
	    <div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="panel panel-default theme-outline">
				  	<div class="panel-body">
					  	<div class='row'>
					  		<div class="col-md-1 col-xs-12 text-center">
							    <if condition="strlen($user['portrait']) gt 0">
							    	<input type="image" class="thumbnail theme-profile" onclick="upload('#profile')" src='{$user.portrait}' alt="头像" height="90px" width="90px">
							    	<else />
							    	<input type="image" class="thumbnail theme-profile" onclick="upload('#profile')" src='__PUBLIC__/pic/investor.png' alt="头像" height="90px" width="90px">
							    </if>
					  		</div>
							<div class="col-md-11 col-xs-12">
								<p class="theme-h3 hide-edit">&nbsp;&nbsp;{$user.name}</p>
								<p class="hide-edit">
									<span>&nbsp;&nbsp;&nbsp;{$user.brief}</span>
								</p>
								<div class="row">
									<div class="col-md-6">
										<!--p id="interests" class="hide-edit theme-small">
											&nbsp;&nbsp;&nbsp;
											<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
										</p-->
									</div>
									<!--<div class="col-md-2 col-md-offset-3 text-right">
										<if condition="$follow eq false">
											<a class="btn btn-default form-control theme-nav theme-btn-inverse" onclick="followPro({$info.project_id},'FOLLOWING')">关注</a>
											<else/>
											<a class="btn btn-default form-control theme-nav theme-btn" onclick="followPro({$info.project_id},'UNFOLLOW')">已关注</a>
										</if>
									</div>-->
								</div>
							</div>

						</div>
					</div>
			  	</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="panel panel-default theme-outline">
					<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-heading theme-h4">&nbsp;投资案例&nbsp;</span>
						</p>
					</div>
				  	<div class="panel-body">
				  		<div class="panel">
			  				<div class="panel-body">
								<div class="row">
									<volist name="prolist" id="pros">
										<div class="col-md-1 col-xs-3 theme-nav">
											<if condition="strlen($pros['project_logo']) gt 0">
												<input type="image" class="thumbnail theme-profile" src="{$pros.project_logo}" height="60px" width="60px" onclick="openProject('{$pros.project_id}')"/>
												<else />
												<input type="image" class="thumbnail theme-profile" src="__PUBLIC__/pic/project.png" height="60px" width="60px" onclick="openProject('{$pros.project_id}')"/>
											</if>
										</div>
										<div class="col-md-2 col-xs-8 theme-nav">
											<p class="theme-h4">&nbsp;&nbsp;&nbsp;{$pros.project_name}</p>
											<p class="theme-h4">&nbsp;</p>
										</div>
									</volist>
								</div>
							</div>
						</div>
				  		<volist name="caselist" id="cases">
				  			<div class="panel">
				  				<div class="panel-body">
								  	<div class='row'>
								  		<div class="col-md-2 col-xs-4">
										    <img class="thumbnail theme-profile" src='__PUBLIC__/pic/case.png' alt="Logo" height="80px" width="80px">
								  		</div>
										<div class="col-md-6 col-xs-8">
											<p class="theme-h4">&nbsp;&nbsp;&nbsp;{$cases.company}</p>
											<p class="theme-small">&nbsp;&nbsp;&nbsp;{$cases.investor_name}</p>
											<p class="theme-small">&nbsp;&nbsp;&nbsp;<span class="label label-warning">{$cases.round}</span>&nbsp;&nbsp;<span>{$cases.invest_time}</span>&nbsp;|&nbsp;投资金额&nbsp;<span class="theme-color">{$cases.invest_amount}万{$cases.invest_cur}</span></p>
										</div>
									</div>
								</div>
							</div>
						</volist>
						
			  		</div>
			  	</div>
			  	<div class="panel panel-default theme-outline">
					<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-h4 theme-heading">工作经历
						</p>
					</div>
				  	<div class="panel-body">
						<volist name="joblist" id="jobs">
							<div class="panel">
					  			<div class="panel-body">
								  	<div class='row'>
										<div class="col-md-6 col-xs-12">
											<p class="theme-h4">{$jobs.job_title}</p>
											<p class="theme-small">{$jobs.job_info}</p>
											<p>{$jobs.job_company}&nbsp;|&nbsp;{$jobs.job_start}&nbsp;至&nbsp;{$jobs.job_end}</p>
										</div>
									</div>
								</div>
							</div>
						</volist>
					</div>
			  	</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="panel panel-default theme-outline">
					<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-h4 theme-heading">个人资料</span>
						</p>
					</div>
				  	<div class="panel-body">
				  		<div class="row">
							<div class="col-md-9 col-xs-12">
								<p class="theme-h5">
									<span class="theme-small">&nbsp;&nbsp;公司:&nbsp;&nbsp;&nbsp;</span>
									<span>{$user.company}</span>
								</p>
								<p class="theme-h5">
									<span class="theme-small">&nbsp;&nbsp;职位:&nbsp;&nbsp;&nbsp;</span>
									<span>{$user.title}</span>
								</p>
								<p class="theme-h5">
									<span class="theme-small">&nbsp;&nbsp;姓名:&nbsp;&nbsp;&nbsp;</span>
									<span>{$user.name}</span>
								</p>
								<p class="theme-h5">
									<span class="theme-small">&nbsp;&nbsp;电话:&nbsp;&nbsp;&nbsp;</span>
									<span>{$user.mobile}</span>
								</p>
								<p class="theme-h5">
									<span class="theme-small">&nbsp;&nbsp;邮箱:&nbsp;&nbsp;&nbsp;</span>
									<span>{$user.email}</span>
								</p>
								
							</div>

						</div>


						<div class="row">
							<div class="col-md-4 col-xs-6">
								<span class="theme-small">&nbsp;&nbsp;名片:&nbsp;&nbsp;&nbsp;</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<img class="thumbnail img-responsive" src="{$user.mycard}" height="162" width="288"></img>
							</div>
						</div>

                        
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<p class="theme-h4">社交账号</p>
								<p>&nbsp;&nbsp;
									<span class="glyphicon glyphicon-link theme-color"></span>
	 								<a class="btn theme-logo" href="{$user.sns_id}">{$user.sns_id}<!--img src="__PUBLIC__/pic/weibo-on.png" height="32px" width="32px"/--></a>
								</p>
							</div>
						</div>

                        <hr>
						

						<div class="row">
							<div class="col-md-12 col-xs-12">
								<p class="theme-h4">财产信息或公司信息</p>
					            <form method="post" enctype="multipart/form-data" id="finance_form"> <!--action="__URL__/authSave"-->
					            	<if condition="$user.user_type eq 1">
						            	<div class="form-group">
							              <label for="companyType"><span class="required">*</span>公司性质</label>
							              <select class="form-control" name="companyType" id="companyType">
							                <option value="1">国有企业</option>
							                <option value="2">民营企业</option>
							                <option value="3">三资企业</option>
							                <option value="4">其他企业</option>
							              </select>
							            </div>
						            	<div class="form-group">
						              		<label><span class="required">*</span>营业执照</label>
										    <if condition="strlen($auth['license']) gt 0">
										    	<a href="{$auth.license}">已上传营业执照</a>
										    </if>
										    <!--input type="file" name="license" id="license" accept="image/jpg,imapge/jpeg,image/png,image/gif,application/pdf" height="0px" width="0px"/-->
										</div>
										<div class="form-group">
							              	<label><span class="required">*</span>组织机构代码证</label>
							              	<if condition="strlen($auth['company_code']) gt 0">
							              		<a href="{$auth.company_code}">已上传机构代码证</a>
							              	</if>
											<!--input type="file" name="companyCode" id="companyCode" accept="image/jpg,imapge/jpeg,image/png,image/gif,application/pdf" height="0px" width="0px"/-->
										</div>
										<div class="form-group">
							              	<label><span class="required">*</span>近三年财务报表</label>
							              	<if condition="strlen($auth['fi_statement']) gt 0">
							              		<a href="{$auth.fi_statement}">已上传财物报表</a>
							              	</if>
											<!--input type="file" name="statement" id="statement" accept="application/pdf" height="0px" width="0px"/-->
										</div>
									</if>
									<if condition="$user.user_type eq 2">
										<div class="form-group">
							              <label for="fiType"><span class="required">*</span>财产证明类型</label>
							              <select class="form-control" name="fiType" id="fiType">
							                <option value="1">税单(年收入>100万证明)</option>
							                <option value="2">房产证明(固定资产>1000万证明)</option>
							                <option value="3">证券类资产>100万证明</option>
							              </select>
							            </div>
										<div class="form-group">
							              	<label><span class="required">*</span>财产证明</label>
							              	<if condition="strlen($auth['financial_doc']) gt 0">
							              		<a href="{$auth.financial_doc}">已上传财产证明</a>
							              	</if>
											<!--input type="file" name="finance" id="finance" accept="image/jpg,imapge/jpeg,image/png,image/gif,application/pdf" height="0px" width="0px"/-->
										</div>
										<div class="form-group">
											<label><span class="required">*</span>说明</label>
											<div id="financeInfo">
							  					<textarea rows='5' name="pro_require" id="pro_require" class="form-control">{$auth.financial_info}</textarea>
											</div>
										</div>
									</if>
									<!--input type="submit" class="btn btn-default theme-btn" value="保存"/-->
								</form>
							</div>
						</div>
						



						
						
					</div>
			  	</div>
			  	<div class="panel panel-default theme-outline">
					<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-h4 theme-heading">关注项目</span>
						</p>
					</div>
					<div class="panel-body">
						<volist name="watchlist" id="watch">
				  			<div class="row">
					  			<div class="col-md-2 col-xs-3 theme-nav">
									<if condition="strlen($watch['project_logo']) gt 0">
										<input type="image" class="thumbnail theme-profile" src="{$watch.project_logo}" height="60px" width="60px" onclick="openProject('{$watch.object_id}')"/>
										<else />
										<input type="image" class="thumbnail theme-profile" src="__PUBLIC__/pic/project.png" height="60px" width="60px" onclick="openProject('{$watch.object_id}')"/>
									</if>
								</div>
								<div class="col-md-9 col-xs-8 theme-nav">
									<p class="theme-h4">&nbsp;&nbsp;&nbsp;{$watch.project_name}</p>
								</div>
							</div>
				  		</volist>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
		    <div class="modal-body">
		      <h4 id="alert_content" style="color:#5B5B5B"></h4>
		      <textarea rows="3" class="form-control" id="request_info" style="display:none"></textarea>
		    </div>
		    <div class="modal-footer">
		      <div id="alertBtn">
		      	<button type="button" class="btn btn-default" data-dismiss="modal" id="modal_confirm">确定</button>
		      </div>
		      <div id="requireRequest">
		      	<button type="button" class="btn btn-default theme-btn-inverse" data-dismiss="modal" id="require_confirm">确定</button>
			    <button type="button" class="btn btn-default" data-dismiss="modal" id="require_cancel">取消</button>
			    <input type="hidden" id="require_input" />
		      </div>
		    </div>
		  </div>
		</div>
	</div>

  	<!--======================verify==========================================================-->
	<div class="container">
		<form>
  			<div class="form-group">
    			<label for="verifyresult">审核结果</label>
    			<br>
    			<div id="verifyresult" class="btn-group" role="group" aria-label="...">
  					<button id="agreeBtn" type="button" class="btn btn-default" ng-click="result=2;btn1=1;btn2=0" ng-class="{'active': btn1,'btn-primary':btn1}">审核通过</button>
  					<button id="denyBtn" type="button" class="btn btn-default" ng-click="result=0;btn1=0;btn2=1"  ng-class="{'active': btn2,'btn-primary':btn2}">审核不通过</button>
				</div>
  			</div>
  			<div class="form-group">
   			 	<label for="note">审核意见</label>
    			<input type="text" class="form-control" id="note" placeholder="审核通过"  ng-model="verifynote">
 			</div>
  			
  			<button  class="btn btn-default" ng-click="submit()">提交结果</button>
		</form>
		
	</div>
  </div>
</body>
<script src="__PUBLIC__/js/bootstrap/theme.js"></script>
<script type="text/javascript">
function openProject(id){
	  	window.open("{:U('Home/Case/info/key/"+id+"')}");
 	}
</script>
</html>