<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>来创吧&middot;投资人管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery/jquery.js"></script>
    <script src="__PUBLIC__/js/bootstrap/bootstrap.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS.js"></script>
    <script src="__PUBLIC__/js/util/send_msg.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS_sha1.js"></script>
    <script src="__PUBLIC__/js/util/angular.min.js"></script>
    <script src="__PUBLIC__/js/util/angular-route.js"></script>
    <script src="__PUBLIC__/js/Admin/Audit/auditInvestorPsVerify.js"></script>
    <script type="text/javascript">init({$userInfo},{$jobInfo},{$cases});</script>
  </head>

<body  >
  <include file="./Public/tpl/navbar_admin.html" />
  <div class="well" ng-app="myinvespapp" ng-controller="userController">
  	<div class="container" style="margin-top:70px">
	    <div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="panel panel-primary theme-outline">
				  	<div class="panel-body">
					  	<div class='row'>
					  		<div class="col-md-1 col-xs-4 text-center" >
							    <image class="thumbnail theme-profile" src={{userInfo.portrait}} alt="头像" height="90px" width="90px">
					  		</div>
							<div class="col-md-11 col-xs-6">
								<p class="theme-h3 hide-edit">&nbsp;&nbsp;&nbsp;{$user.name}</p>
								<p class="hide-edit">
									<span>&nbsp;&nbsp;&nbsp;{{userInfo.brief}}</span>
								</p>
							</div>

						</div>
					</div>
			  	</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="panel panel-default theme-outline">
					<div class="panel-heading theme-heading">
						<h3 class="panel-title">投资案例</h3>
					</div>
				  	<div class="panel-body">
				  		<div class="panel">
			  				<div class="panel-body">
								<div class="row">
									<volist name="prolist" id="pros">
										<div class="col-md-1 col-xs-3 theme-nav">
											<input type="image" class="thumbnail theme-profile" src="{$pros.project_logo}" height="60px" width="60px" onclick="openProject('{$pros.project_id}')"/>
										</div>
										<div class="col-md-2 col-xs-8 theme-nav">
											<p class="theme-h4">&nbsp;&nbsp;&nbsp;{$pros.project_name}</p>
										</div>
									</volist>
								</div>
							</div>
						</div>
				  		<div ng-repeat="x in cases">
				  			<div class="panel">
				  				<div class="panel-body">
								  	<div class='row'>
								  		<div class="col-md-2 col-xs-4">
										    <img class="thumbnail theme-profile" src='/lcb/Public/pic/company.png' alt="Logo" height="90px" width="90px">
								  		</div>
										<div class="col-md-6 col-xs-6">
										<p class="theme-h4">{{x.company}}</p>
											<p>{{x.investor_name}}</p>
											<p><span class="text-danger">{{x.round}}</span>&nbsp;&middot;&nbsp;<span class="theme-small">{{x.invest_time}}</span>&nbsp;|&nbsp;投资金额{{x.invest_amount}}万{{x.invest_cur}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						
			  		</div>
			  	</div>
			  	<div class="panel panel-default theme-outline">
					<div class="panel-heading theme-heading">
						<h3 class="panel-title">工作经历</h3>
					</div>
				  	<div class="panel-body">
				  		<div ng-repeat="x in jobInfo">
				  			<div class="panel">
					  			<div class="panel-body">
								  	<div class='row'>
										<div class="col-md-6 col-xs-6">
											<p class="theme-h4"><strong>{{x.job_title}}</strong></p>
											<p class="theme-h4">{{x.job_company}}</p>
											<p>{{x.job_start}}至{{x.job_end}}</p>
											<p>{{x.job_info}}</p>
										</div>
									</div>
								</div>
							</div>
				  		</div>
			
					</div>
			  	</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="panel panel-default theme-outline">
					<div class="panel-heading">
						<h3 class="panel-title">个人资料</h3>
					</div>
				  	<div class="panel-body">
				  		<div class="row">
							<div class="col-md-9">
								<p class="theme-h4">基本信息</p>

								<p class="theme-h4">
									<small>&nbsp;&nbsp;姓名: {{userInfo.name}}</small>
								</p>
								<p class="theme-h4">
									<small>&nbsp;&nbsp;手机: {{userInfo.mobile}}</small>
								</p>
								<p class="theme-h4">
									<small>&nbsp;&nbsp;邮箱: {{userInfo.email}}</small>
								</p>
								<p class="theme-h4">
									<small>&nbsp;&nbsp;注册投资人类型: {{type}}</small>
								</p>

								<p class="theme-h4">
									<small>&nbsp;&nbsp;公司: {{userInfo.company}}</small>
								</p>
								<p class="theme-h4"><small>&nbsp;&nbsp;职位: {{userInfo.title}}</small></p>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<p class="theme-h4">财产信息或公司信息</p>
					            <form method="post" action="__URL__/authSave" enctype="multipart/form-data" id="finance_form">
					            	<if condition="$user.user_type eq 1">
						            	<div class="form-group">
							              <label for="companyType"><span class="required">*</span>公司性质</label>
							              <select class="form-control" name="companyType" id="companyType">
							                <option value="1">国有企业</option>
							                <option value="2">民营企业</option>
							                <option value="3">三资企业</option>
							                <option value="4">其他企业</option>
							              </select>
							            </div>
						            	<div class="form-group">
						              		<label><span class="required">*</span>营业执照</label>
										    <if condition="strlen($auth['license']) gt 0">
										    	<a href="{$auth.license}">已上传营业执照</a>
										    </if>
										    <!--input type="file" name="license" id="license" accept="image/jpg,imapge/jpeg,image/png,image/gif,application/pdf" height="0px" width="0px"/-->
										</div>
										<div class="form-group">
							              	<label><span class="required">*</span>组织机构代码证</label>
							              	<if condition="strlen($auth['company_code']) gt 0">
							              		<a href="{$auth.company_code}">已上传机构代码证</a>
							              	</if>
											<!--input type="file" name="companyCode" id="companyCode" accept="image/jpg,imapge/jpeg,image/png,image/gif,application/pdf" height="0px" width="0px"/-->
										</div>
										<div class="form-group">
							              	<label><span class="required">*</span>近三年财务报表</label>
							              	<if condition="strlen($auth['fi_statement']) gt 0">
							              		<a href="{$auth.fi_statement}">已上传财物报表</a>
							              	</if>
											<!--input type="file" name="statement" id="statement" accept="application/pdf" height="0px" width="0px"/-->
										</div>
									</if>
									<if condition="$user.user_type eq 2">
										<div class="form-group">
							              <label for="fiType"><span class="required">*</span>财产证明类型</label>
							              <select class="form-control" name="fiType" id="fiType">
							                <option value="1">税单(年收入>100万证明)</option>
							                <option value="2">房产证明(固定资产>1000万证明)</option>
							                <option value="3">证券类资产>100万证明</option>
							              </select>
							            </div>
										<div class="form-group">
							              	<label><span class="required">*</span>财产证明</label>
							              	<if condition="strlen($auth['financial_doc']) gt 0">
							              		<a href="{$auth.financial_doc}">已上传财产证明</a>
							              	</if>
											<!--input type="file" name="finance" id="finance" accept="image/jpg,imapge/jpeg,image/png,image/gif,application/pdf" height="0px" width="0px"/-->
										</div>
										<div class="form-group">
											<label><span class="required">*</span>说明</label>
											<div id="financeInfo">
							  					<textarea rows='5' name="pro_require" id="pro_require" class="form-control">{$auth.financial_info}</textarea>
											</div>
										</div>
									</if>
									<!--input type="submit" class="btn btn-default theme-btn-inverse" value="上传"/-->
								</form>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-12">
								<p class="theme-h4">社交账号</p>
								<p>&nbsp;&nbsp;
									<span class="glyphicon glyphicon-link theme-color"></span>
	 								<a class="btn theme-logo" href={{userInfo.sns_id}}><!--img src="__PUBLIC__/pic/weibo-on.png" height="32px" width="32px"/--></a>
								</p>
							</div>
						</div>
					</div>
			  	</div>
			  	<div class="panel panel-default theme-outline">
					<div class="panel-heading">
						<h3 class="panel-title">关注项目</h3>
					</div>
					<div class="panel-body">
						<volist name="watchlist" id="watch">
				  			<div class="row">
					  			<div class="col-md-2 col-xs-3 theme-nav">
									<input type="image" class="thumbnail theme-profile" src="{$watch.project_logo}" height="60px" width="60px" onclick="openProject('{$watch.object_id}')"/>
								</div>
								<div class="col-md-9 col-xs-8 theme-nav">
									<p class="theme-h4">&nbsp;&nbsp;&nbsp;{$watch.project_name}</p>
								</div>
							</div>
				  		</volist>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<form>
  			<div class="form-group">
    			<label for="verifyresult">审核结果</label>
    			<select class="form-control" id="everifyresult"  ng-model="result" >
  						<option value=2 selected = "selected">审核通过</option>
  						<option value=0 >审核不通过</option>
				</select>
  			</div>
  			<div class="form-group">
   			 	<label for="note">审核意见</label>
    			<input type="text" class="form-control" id="note" placeholder="审核通过"  ng-model="verifynote">
 			</div>
  			
  			<button  class="btn btn-default" ng-click="submit()">提交结果</button>
		</form>
		
	</div>
  </div>
</body>
<script src="__PUBLIC__/js/bootstrap/theme.js"></script>
<script type="text/javascript">
function openProject(id){
	  	window.open("{:U('Home/Case/info/key/"+id+"')}");
 	}
</script>
</html>