<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>审核管理员</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery/jquery.js"></script>
    <script src="__PUBLIC__/js/bootstrap/bootstrap.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS.js"></script>
    <script src="__PUBLIC__/js/util/send_msg.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS_sha1.js"></script>
    <script src="__PUBLIC__/js/util/angular.min.js"></script>
    <script src="__PUBLIC__/js/util/angular-route.js"></script>
    <script src="__PUBLIC__/js/Admin/Audit/index.js"></script>

  </head>

<body>
  <include file="./Public/tpl/navbar_admin.html" />
  <div class="container" ng-app="mytableapp" ng-controller="tableController" >
    <div class="page-header">
      <!-- 页面标题 -->
      <h3>审核管理列表</h3>
      <a data-toggle="tooltip" data-placement="top" title="修改昵称、密码" class="btn" href="{:U('Admin/Set/index')}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active" ng-init="ProjectsVerifiedTabClick()" ng-click="ProjectsVerifiedTabClick()">
              <a href="#projectVerify" aria-controls="projectVerify" role="tab" data-toggle="tab">项目审核</a></li>
            <li role="presentation" ng-click="ProjectsManageTabClick()">
              <a href="#projectManage" aria-controls="projectManage" role="tab" data-toggle="tab">项目管理</a></li>

            <li role="presentation" ng-click="InvestorsPsVerifiedTabClick()">
              <a href="#investorVerify" aria-controls="investorVerify" role="tab" data-toggle="tab">投资人审核</a></li>
            <li role="presentation" ng-click="InvestorsManageTabClick()">
              <a href="#investorManage" aria-controls="investorManage" role="tab" data-toggle="tab">投资人管理</a></li>
<!--
            <li role="presentation"><a href="#investorCompanyVerify" aria-controls="investorCompanyVerify" role="tab" data-toggle="tab">投资机构审核</a></li>
            <li role="presentation"><a href="#investorCompanyManage" aria-controls="investorCompanyManage" role="tab" data-toggle="tab">投资机构管理</a></li>
-->
            <li role="presentation"  ng-click="InnovatorsVerifiedTabClick()">
              <a href="#innovatorVerify" aria-controls="innovatorVerify" role="tab" data-toggle="tab" >创业者审核</a></li> 
            <li role="presentation" ng-click="InnovatorsManageTabClick()">
              <a href="#innovatorManage" aria-controls="innovatorManage" role="tab" data-toggle="tab">创业者管理</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="projectVerify">
              <div style="height:500px; overflow:scroll;">
                <table class="table table-hover table-striped table-condensed table-responsive" style="white-space: nowrap;" >
                 <tr>
                    <th class="text-center">项目logo</th>
                    <th class="text-center">项目id</th>
                    <th class="text-center">项目名称</th>
                    <th class="text-center">负责人id</th>
                    <th class="text-center">项目简介</th>
                    <th class="text-center">操作</th>
                  </tr> 
                   <tr ng-repeat="x in unverifiedProjects" >
                    <td class="text-center"><image class="thumbnail theme-profile" src={{x.project_logo}} alt="logo" height="40px" width="40px"></td>
                    <td class="text-center">{{ x.project_id}}</td>
                    <td class="text-center">{{ x.project_name}}</td>
                    <td class="text-center">{{ x.project_admin}}</td>
                    <td class="text-center">{{ x.project_brief}}</td>
                    <td class="text-center">
                      <a data-toggle="tooltip" data-placement="top" title="审核" class="btn" href={{"__URL__/auditProjectVerify?key="+x.project_id}}><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                      <!--a data-toggle="tooltip" data-placement="top" title="删除" class="btn" href={{"__URL__/auditInvestorPsDel?key="+x.user_id}}--><!--span class="glyphicon glyphicon-trash" aria-hidden="true"--></td>
                  </tr>
                </table>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane active" id="projectManage">
              <div style="height:500px; overflow:scroll;">
                <table class="table table-hover table-striped table-condensed table-responsive" style="white-space: nowrap;" >
                 <tr>
                    <th class="text-center">项目logo</th>
                    <th class="text-center">项目id</th>
                    <th class="text-center">项目名称</th>
                    <th class="text-center">负责人id</th>
                    <th class="text-center">项目简介</th>
                    <th class="text-center">操作</th>
                  </tr> 
                   <tr ng-repeat="x in manageProjects" >
                    <td class="text-center"><image class="thumbnail theme-profile" src={{x.project_logo}} alt="logo" height="40px" width="40px"></td>
                    <td class="text-center">{{ x.project_id}}</td>
                    <td class="text-center">{{ x.project_name}}</td>
                    <td class="text-center">{{ x.project_admin}}</td>
                    <td class="text-center">{{ x.project_brief}}</td>
                    <td class="text-center">
                      <a data-toggle="tooltip" data-placement="top" title="审核" class="btn" href={{"__URL__/auditProjectVerify?key="+x.project_id}}><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                      <!--a data-toggle="tooltip" data-placement="top" title="删除" class="btn" href={{"__URL__/auditInvestorPsDel?key="+x.user_id}}--><!--span class="glyphicon glyphicon-trash" aria-hidden="true"--></td>
                  </tr>
                </table>
              </div>
            </div>
            

            <div role="tabpanel" class="tab-pane active" id="investorVerify">
              <div style="height:500px; overflow:scroll;">
                <table class="table table-hover table-striped table-condensed table-responsive" style="white-space: nowrap;" >
                 <tr>
                    <th class="text-center">用户id</th>
                    <th class="text-center">姓名</th>
                    <th class="text-center">公司</th>
                    <th class="text-center">手机</th>
                    <th class="text-center">操作</th>
                  </tr> 
                   <tr ng-repeat="x in unverifiedInvestorPs" >
                    <td class="text-center">{{x.user_id}}</td>
                    <td class="text-center">{{ x.name}}</td>
                    <td class="text-center">{{ x.company }}</td>
                    <td class="text-center">{{ x.mobile}}</td>
                    <td class="text-center">
                      <a data-toggle="tooltip" data-placement="top" title="审核" class="btn" href={{"__URL__/auditInvestorPsVerify?key="+x.user_id}}><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                      <!--a data-toggle="tooltip" data-placement="top" title="删除" class="btn" href={{"__URL__/auditInvestorPsDel?key="+x.user_id}}--><!--span class="glyphicon glyphicon-trash" aria-hidden="true"--></td>
                  </tr>
                </table>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane active" id="investorManage">
              <div style="height:500px; overflow:scroll;">
                <table class="table table-hover table-striped table-condensed table-responsive" style="white-space: nowrap;" >
                 <tr>
                    <th class="text-center">用户id</th>
                    <th class="text-center">姓名</th>
                    <th class="text-center">公司</th>
                    <th class="text-center">手机</th>
                    <th class="text-center">操作</th>
                  </tr> 
                   <tr ng-repeat="x in manageInvestors" >
                    <td class="text-center">{{x.user_id}}</td>
                    <td class="text-center">{{ x.name}}</td>
                    <td class="text-center">{{ x.company }}</td>
                    <td class="text-center">{{ x.mobile}}</td>
                    <td class="text-center">
                      <a data-toggle="tooltip" data-placement="top" title="审核" class="btn" href={{"__URL__/auditInvestorPsVerify?key="+x.user_id}}><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                      <!--a data-toggle="tooltip" data-placement="top" title="删除" class="btn" href={{"__URL__/auditInvestorPsDel?key="+x.user_id}}--><!--span class="glyphicon glyphicon-trash" aria-hidden="true"--></td>
                  </tr>
                </table>
              </div>
            </div>


            <div role="tabpanel" class="tab-pane active" id="investorCompanyVerify">
            </div>
            <div role="tabpanel" class="tab-pane active" id="investorCompanyManage">
            </div>


            <div role="tabpanel" class="tab-pane" id="innovatorVerify" >
              <div style="height:500px; overflow:scroll;">
                <table class="table table-hover table-striped table-condensed table-responsive" style="white-space: nowrap;" >
                 <tr>
                    <th class="text-center">用户id</th>
                    <th class="text-center">昵称</th>
                    <th class="text-center">姓名</th>
                    <th class="text-center">手机</th>
                    <th class="text-center">操作</th>
                  </tr> 
                   <tr ng-repeat="x in unverifiedInnovators" >
                    <td class="text-center">{{x.user_id}}</td>
                    <td class="text-center">{{ x.nickname}}</td>
                    <td class="text-center">{{ x.name }}</td>
                    <td class="text-center">{{ x.phone}}</td>
                    <td class="text-center">
                      <a data-toggle="tooltip" data-placement="top" title="审核" class="btn" href={{"__URL__/auditInnovatorVerify?key="+x.user_id}}><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                      <!--a data-toggle="tooltip" data-placement="top" title="删除" class="btn" href={{"__URL__/auditInnovatorDel?key="+x.user_id}}--><!--span class="glyphicon glyphicon-trash" aria-hidden="true"--></td>
                  </tr>
                </table>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="innovatorManage">
              <div style="height:500px; overflow:scroll;">
                <table class="table table-hover table-striped table-condensed table-responsive" style="white-space: nowrap;" >
                 <tr>
                    <th class="text-center">用户id</th>
                    <th class="text-center">昵称</th>
                    <th class="text-center">姓名</th>
                    <th class="text-center">手机</th>
                    <th class="text-center">操作</th>
                  </tr> 
                   <tr ng-repeat="x in manageInnovators" >
                    <td class="text-center">{{x.user_id}}</td>
                    <td class="text-center">{{ x.nickname}}</td>
                    <td class="text-center">{{ x.name }}</td>
                    <td class="text-center">{{ x.phone}}</td>
                    <td class="text-center">
                      <a data-toggle="tooltip" data-placement="top" title="审核" class="btn" href={{"__URL__/auditInnovatorVerify?key="+x.user_id}}><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                      <!--a data-toggle="tooltip" data-placement="top" title="删除" class="btn" href={{"__URL__/auditInnovatorDel?key="+x.user_id}}--><!--span class="glyphicon glyphicon-trash" aria-hidden="true"--></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</body>
<script>
  $('a[data-toggle=tooltip]').mouseover(function(){$(this).tooltip('show');});
  
</script>
</html>