<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>审核管理员</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery/jquery.js"></script>
    <script src="__PUBLIC__/js/bootstrap/bootstrap.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS.js"></script>
    <script src="__PUBLIC__/js/util/send_msg.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS_sha1.js"></script>

  </head>

<body>
  <include file="./Public/tpl/navbar_admin.html" />
  <div class="container">
    <div class="page-header">
      <!-- 页面标题 -->
      <h3>审核管理列表</h3>
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#projectVerify" aria-controls="projectVerify" role="tab" data-toggle="tab">项目审核</a></li>
            <li role="presentation" ><a href="#projectManage" aria-controls="projectManage" role="tab" data-toggle="tab">项目管理</a></li>

            <li role="presentation"><a href="#investorVerify" aria-controls="investorVerify" role="tab" data-toggle="tab">投资人审核</a></li>
            <li role="presentation"><a href="#investorManage" aria-controls="investorManage" role="tab" data-toggle="tab">投资人管理</a></li>

            <li role="presentation"><a href="#investorCompanyVerify" aria-controls="investorCompanyVerify" role="tab" data-toggle="tab">投资机构审核</a></li>
            <li role="presentation"><a href="#investorCompanyManage" aria-controls="investorCompanyManage" role="tab" data-toggle="tab">投资机构管理</a></li>
            
            <li role="presentation"><a href="#innovatorVerify" aria-controls="innovatorVerify" role="tab" data-toggle="tab" onclick="">创业者审核</a></li> 
            <li role="presentation"><a href="#innovatorManage" aria-controls="innovatorManage" role="tab" data-toggle="tab">创业者管理</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="projectVerify">
              <div style="height:500px; overflow:scroll;">
                <table class="table table-hover table-striped table-condensed table-responsive" style="white-space: nowrap;">

                </table>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane active" id="projectManage">
            </div>
            

            <div role="tabpanel" class="tab-pane active" id="investorVerify">
            </div>
            <div role="tabpanel" class="tab-pane active" id="investorManage">
            </div>


            <div role="tabpanel" class="tab-pane active" id="investorCompanyVerify">
            </div>
            <div role="tabpanel" class="tab-pane active" id="investorCompanyManage">
            </div>


            <div role="tabpanel" class="tab-pane" id="innovatorVerify">
              <div style="height:500px; overflow:scroll;">
                <table class="table table-hover table-striped table-condensed table-responsive" style="white-space: nowrap;">
                 <tr>
                    <th class="text-center">用户id</th>
                    <th class="text-center">昵称</th>
                    <th class="text-center">姓名</th>
                    <th class="text-center">手机</th>
                    <th class="text-center">操作</th>
                  </tr> 
                </table>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="innovatorManage">
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</body>
<script>
  $('a[data-toggle=tooltip]').mouseover(function(){$(this).tooltip('show');});
</script>
<script src="__PUBLIC__/js/Admin/Audit/index.js"></script>
</html>