<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>来创吧|关于我们</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/css/theme.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery/jquery.js"></script>
    <script src="__PUBLIC__/js/bootstrap/bootstrap.js"></script>
    <script src="__PUBLIC__/js/util/send_msg.js"></script>
  </head>
	<style>
	.jumbotron{
	      background:url(__PUBLIC__/pic/investor_banner.jpg);
	      background-size: cover; 
	      -moz-background-size: cover;
	      height:200px;
	    }
	</style>
<body>
  <include file="./Public/tpl/navbar_home.html" />
  <div class="well">
		<div class="jumbotron" style="margin-top:70px">
			<div class="row">
				<p class="text-center theme-h3" style="margin-top:40px"><span class="theme-white">联系我们 | 与创业走得更近</span></p>
			</div>
		</div>
	  	<div class="container">
	  		<div class="row">
	  			<div class="col-md-8 col-md-offset-2 col-xs-12">
			  		<h3 class="theme-color">关于我们</h3>
			  		<p class="theme-h5-small">公司名称: 上海来创信息科技有限公司</p>
			  		<p class="theme-h5-small">公司地址: 上海市闵行区鹤庆路398号41幢2层F2026室</p>
			  		<p class="theme-h5-small">邮政编码: 200240</p>
			  		<hr>
			  		<h3 class="theme-color">寻求合作</h3>
			  		<p class="theme-h5-small">电子邮件: <a>contact@laichuangba.com</a></p>
			  		<hr>
			  		<h3 class="theme-color">我要加入来创团队</h3>
			  		<p class="theme-h5-small">电子邮件: <a>union@laichuangba.com</a></p>
			  		<hr>
			  		<h3 class="theme-color">用户支持 (bug反馈，意见反馈，使用App或者网站过程中遇到问题咨询等)</h3>
			  		<p class="theme-h5-small">电子邮件: <a>support@laichuangba.com</a></p>
				</div>
			</div>
		</div>
	  </div>
	</div>
	<include file="./Public/tpl/footer_home.html" />
</body>
 <script src="__PUBLIC__/js/bootstrap/theme.js"></script>
<script>
  	

</script>
</html>