<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>来创吧</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/css/carousel.css" rel="stylesheet">
    
    <script src="__PUBLIC__/js/jquery/jquery.js"></script>
    <script src="__PUBLIC__/js/bootstrap/bootstrap.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS.js"></script>
    <script src="__PUBLIC__/js/util/send_msg.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS_sha1.js"></script>
    <script src="__PUBLIC__/js/util/send_msg.js"></script>
    

  </head>
<style>
.theme-carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #253B58;
  text-align: center;
}

.theme-carousel-control.right {
  right: 0;
  left: auto;
}

.theme-carousel-control:hover,
.theme-carousel-control:focus {
  color: #253B58;
  text-decoration: none;
  outline: none;
  
}

.theme-carousel-control .icon-prev,
.theme-carousel-control .icon-next,
.theme-carousel-control .glyphicon-chevron-left,
.theme-carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}

.theme-carousel-control .icon-prev,
.theme-carousel-control .glyphicon-chevron-left {
  left: 50%;
}

.theme-carousel-control .icon-next,
.theme-carousel-control .glyphicon-chevron-right {
  right: 50%;
}

.theme-carousel-control .icon-prev,
.theme-carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}

</style>
<body>
  <include file="./Public/tpl/navbar_home.html" />
  <div class="well">
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide marketing" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <!--<img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">-->
          <img src="__PUBLIC__/pic/indexbg1.jpg" class="img-responsive" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <h1>最好的创业投资平台</h1>
                  <p>来创,让你发现最具投资价值的创业项目!</p>
                  <br>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                  <if condition="session('?id')">
                     <button class="form-control theme-btn-alpha" onclick="javascript:window.location.href='{:U('Home/User/innovatorEdit')}'" role="button">个人主页</button>
                    <else />
                     <button class="form-control theme-btn-alpha" onclick="javascript:window.location.href='{:U('Home/Index/login')}'" role="button">我要登录</button>
                  </if>
                </div>
              </div>
              <br><br><br>
            </div>
          </div>
        </div>
        <div class="item">
          <!--<img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide">-->
          <img src="__PUBLIC__/pic/indexbg2.jpg" class="img-responsive" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <h1>最好的创业投资平台</h1>
                  <p>来创,让你发现最具投资价值的创业项目!</p>
                  <br>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 col-sm-offset-3 col-xs-6">
                  <button class="form-control theme-btn-alpha" onclick="javascript:window.location.href='{:U('Home/Index/register')}'" role="button">免费注册</button>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <button class="form-control theme-btn-alpha" role="button">了解我们</button>
                </div>
              </div>
              <br><br><br>
            </div>
          </div>

        </div>

      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left">  </span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right">  </span>
      </a>
    </div><!-- /.carousel -->
    <iframe src='__URL__/news.html' frameborder='0' class='sourceView' noresize='noresize' style="height:800px;width:100%;"></iframe>
    <br>
    <div class="row" style="margin-top:20px">
      <div class="col-sm-2 col-sm-offset-5">
        <a class="btn btn-default theme-btn form-control" href="{:U('Home/News/index')}">更多资讯</a>
      </div>
    </div>
    <br>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel1" class="carousel slide marketing" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel1" data-slide-to="0" class="active theme-indicator"></li>
        <li data-target="#myCarousel1" data-slide-to="1" class="theme-indicator"></li>
        <li data-target="#myCarousel1" data-slide-to="2" class="theme-indicator"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active" style="background-color:#f5f5f5">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="text-center theme-color">我们的创业项目</h1>
            </div>
          </div>
          <div class="container theme-item-container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <volist name="proslist" id="vo" offset="0" length="3">
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="col-md-10 col-md-offset-1 theme-item">
                      <div class="col-md-5 col-xs-4">
                        <if condition="$vo['project_logo'] neq ''">
                          <input type="image" class="thumbnail theme-profile" src="{$vo.project_logo}" width="56px" height="56px" onclick="openProject('{$vo.project_id}')" style="margin-left:auto;margin-right:auto"/>
                          <else />
                          <input type="image" class="thumbnail theme-profile" src="__PUBLIC__/pic/project.png" width="56px" height="56px" onclick="openProject('{$vo.project_id}')" style="margin-left:auto;margin-right:auto"/>
                        </if>
                      </div>
                      <div class="col-md-7 col-xs-8">
                        <p class="theme-h4 theme-color">{$vo.project_name}</p>
                        <p class="theme-h5-small">{$vo.project_brief}</p>
                      </div>
                    </div>
                  </div>
                </volist>
              </div>
            </div>
          </div>
        </div>
        <div class="item" style="background-color:#f5f5f5">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="text-center theme-color">我们的创业项目</h1>
            </div>
          </div>
          <div class="container theme-item-container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <volist name="proslist" id="vo" offset="3" length="3">
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="col-md-10 col-md-offset-1 theme-item">
                      <div class="col-md-5 col-xs-4">
                        <if condition="$vo['project_logo'] neq ''">
                          <input type="image" class="thumbnail theme-profile" src="{$vo.project_logo}" width="56px" height="56px" onclick="openProject('{$vo.project_id}')" style="margin-left:auto;margin-right:auto"/>
                          <else />
                          <input type="image" class="thumbnail theme-profile" src="__PUBLIC__/pic/project.png" width="56px" height="56px" onclick="openProject('{$vo.project_id}')" style="margin-left:auto;margin-right:auto"/>
                        </if>
                      </div>
                      <div class="col-md-7 col-xs-8">
                        <p class="theme-h4 theme-color">{$vo.project_name}</p>
                        <p class="theme-h5-small">{$vo.project_brief}</p>
                      </div>
                    </div>
                  </div>
                </volist>
              </div>
            </div>
          </div>
        </div>
        <div class="item" style="background-color:#f5f5f5">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="text-center theme-color">我们的创业项目</h1>
            </div>
          </div>
          <div class="container theme-item-container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <volist name="proslist" id="vo" offset="6" length="3">
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="col-md-10 col-md-offset-1 theme-item">
                      <div class="col-md-5 col-xs-4">
                        <if condition="$vo['project_logo'] neq ''">
                          <input type="image" class="thumbnail theme-profile" src="{$vo.project_logo}" width="56px" height="56px" onclick="openProject('{$vo.project_id}')" style="margin-left:auto;margin-right:auto"/>
                          <else />
                          <input type="image" class="thumbnail theme-profile" src="__PUBLIC__/pic/project.png" width="56px" height="56px" onclick="openProject('{$vo.project_id}')" style="margin-left:auto;margin-right:auto"/>
                        </if>
                      </div>
                      <div class="col-md-7 col-xs-8">
                        <p class="theme-h4 theme-color">{$vo.project_name}</p>
                        <p class="theme-h5-small">{$vo.project_brief}</p>
                      </div>
                    </div>
                  </div>
                </volist>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="left theme-carousel-control" href="#myCarousel1" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left">  </span>
      </a>
      <a class="right theme-carousel-control" href="#myCarousel1" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right">  </span>
      </a>
      <br>
      <div class="row">
        <div class="col-sm-2 col-sm-offset-5">
          <a class="btn btn-default theme-btn form-control" href="{:U('Home/Case/index')}">更多项目</a>
        </div>
      </div>
    </div><!-- /.carousel -->
    <br>
    <!--<div class="row">
      <div class="text-center theme-color">
        <h3>创业导师</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-4">
        <a class="thumbnail" data-toggle="popover" data-container="body" data-html="true" data-placement="bottom" data-content="<img src='/lcb/Public/pic/profile.png' width='80px' height='80px'></img><strong>姓名</strong><hr><p>他的介绍他的介绍他的介绍他的介绍他的介绍他的介绍他的介绍他的介绍他的介绍他的介绍</p>">
          <img src="__PUBLIC__/pic/profile.png" alt="头像">
        </a>
      </div>
    </div>
    <div class='row'>
      <div class="col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2 col-xs-12">
        <div class="panel">
          <img src='/lcb/Public/pic/profile.png' width='80px' height='80px'/>
          <strong>姓名</strong>
          <hr>
          <p>他的介绍他的介绍他的介绍他的介绍他的介绍他的介绍他的介绍他的介绍他的介绍他的介绍</p>
        </div>
      </div>
    </div>-->
  </div>
  <include file="./Public/tpl/footer_home.html" />
</body>
<link href="__PUBLIC__/css/theme.css" rel="stylesheet">
<script src="__PUBLIC__/js/bootstrap/theme.js"></script>
<script>
  $('a[data-toggle=tooltip]').mouseover(function(){$(this).tooltip('show');});
  $('a[data-toggle=popover]').mouseover(function(){$(this).popover('hide');}); 

  function openProject(id){
      window.open("{:U('Home/Case/info/key/"+id+"')}");
  }
</script>
</html>