<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>来创吧&middot;个人主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery/jquery.js"></script>
    <script src="__PUBLIC__/js/bootstrap/bootstrap.js"></script>
    <script src="__PUBLIC__/js/bootstrap/theme.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS.js"></script>
    <script src="__PUBLIC__/js/util/send_msg.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS_sha1.js"></script>
  </head>

<body>
  <include file="./Public/tpl/navbar_home.html" />
  <div class="well">
  	<div class="container" style="margin-top:70px">
	    <div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="panel panel-primary theme-outline">
				  	<div class="panel-body">
					  	<div class='row'>
					  		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-12 text-center">
					  			<if condition="strlen($user['portrait']) gt 0">
							    	<img class="thumbnail theme-profile" onclick="upload('#profile')" src='{$user.portrait}' alt="头像" height="90px" width="90px">
							    	<else />
							    	<img class="thumbnail theme-profile" onclick="upload('#profile')" src='__PUBLIC__/pic/innovator.png' alt="头像" height="90px" width="90px">
							    </if>
					  		</div>
							<div class="col-lg-11 col-md-10 col-sm-10 col-xs-12">
								<p class="theme-h3 hide-edit">&nbsp;&nbsp;&nbsp;{$user.nickname}</p>
								<p class="hide-edit">&nbsp;&nbsp;&nbsp;{$user.brief}</p>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<p id="interests" class="hide-edit theme-small">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-tag" aria-hidden="true"></span></p>
									</div>
									<!--<div class="col-md-2 col-md-offset-3 col-xs-12 text-right">
										<if condition="$follow eq false">
											<a class="btn btn-default form-control theme-nav theme-btn-inverse" onclick="followPro({$info.project_id},'FOLLOWING')">关注</a>
											<else/>
											<a class="btn btn-default form-control theme-nav theme-btn" onclick="followPro({$info.project_id},'UNFOLLOW')">已关注</a>
										</if>
										
									</div>-->
								</div>
							</div>
						</div>
					</div>
			  	</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="panel panel-default theme-outline">
					<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-heading theme-h4">创业项目</span>
						</p>
					</div>
				  	<div class="panel-body">
				  		<volist name="prolist" id="projects">
							<div class="panel">
				  				<div class="panel-body theme-well">
								  	<div class='row'>
								  		<div class="col-md-2 col-sm-2 col-xs-4">
								  			<if condition="strlen($projects['project_logo']) gt 0">
								  				<input type="image" class="thumbnail theme-profile" src='{$projects.project_logo}' alt="Logo" height="80px" width="80px" onclick="openProject('{$projects.project_id}')">
								  				<else />
										    	<input type="image" class="thumbnail theme-profile" src='__PUBLIC__/pic/project.png' alt="Logo" height="80px" width="80px" onclick="openProject('{$projects.project_id}')">
										    </if>
								  		</div>
										<div class="col-md-6 col-sm-6 col-xs-8">
											<p class="theme-h4">{$projects.project_name}</p>
											<p class="theme-h5-small">{$projects.project_brief}</p>
										</div>
									</div>
								</div>
							</div>
						</volist>
					</div>
			  	</div>
			  	<div class="panel panel-default theme-outline">
			  		<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-heading theme-h4">工作经历</span>
						</p>
					</div>
				  	<div class="panel-body">
						<volist name="joblist" id="jobs">
							<div class="panel">
					  			<div class="panel-body theme-well">
								  	<div class='row'>
										<div class="col-md-6 col-sm-8 col-xs-12">
											<p class="theme-h4">{$jobs.job_title}</p>
											<p class="theme-h5-small unescape">{$jobs.job_info}</p>
											<p>{$jobs.job_company}&nbsp;|&nbsp;{$jobs.job_start}&nbsp;至&nbsp;{$jobs.job_end}</p>
										</div>
									</div>
								</div>
							</div>
						</volist>
					</div>
			  	</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="panel panel-default theme-outline">
					<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-heading theme-h4">个人资料</span>
						</p>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<p class="theme-h4">基本信息</p>
								<p>
									<span class="theme-h5-small">&nbsp;&nbsp;性别: </span><span class="theme-h5">{$user.gender}</span>
								</p>
								<p>
									<span class="theme-h5-small">&nbsp;&nbsp;生日: </span><span class="theme-h5">{$user.birthday}</span>
								</p>
								<p>
									<span class="theme-h5-small">&nbsp;&nbsp;地区: </span><span class="theme-h5">{$user.city}</span>
								</p>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<p class="theme-h4">教育背景</p>
								<p>
									<span class="theme-h5-small">&nbsp;&nbsp;学校: </span><span class="theme-h5">{$edu.school}</span>
								</p>
								<p>
									<span class="theme-h5-small">&nbsp;&nbsp;学历: </span><span class="theme-h5">{$edu.degree}</span>
								</p>
								<if condition="strlen($edu['year']) gt 0">
									<p>
										<span class="theme-h5-small">&nbsp;&nbsp;入学年月: </span><span class="theme-h5">{$edu.year}年{$edu.mon}月</span>
									</p>
								</if>
							</div>
						</div>
					</div>
				  	<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<p class="theme-h4">社交账号</p>
								<p>
									<a><span class="glyphicon glyphicon-link theme-color"></span></a>
	 								<a class="btn theme-logo" href="{$user.sns_id}"><img src="__PUBLIC__/pic/weibo-on.png" height="32px" width="32px"/></a>
								</p>
							</div>
						</div>
					</div>
			  	</div>
			</div>
		</div>
	</div>
	
  </div>
  <include file="./Public/tpl/footer_home.html" />
</body>
<script src="__PUBLIC__/js/bootstrap/theme.js"></script>
<script src="__PUBLIC__/js/Home/User/edit.js"></script>
<script src="__PUBLIC__/js/util/form_validate.js"></script>
<script src="__PUBLIC__/js/Home/User/init.js"></script>
<script>
  	$('a[data-toggle=tooltip]').mouseover(function(){$(this).tooltip('show');});
  	addInterests({$interests},"#interests");

  	function openProject(id){
	  	window.open("{:U('Home/Case/info/key/"+id+"')}");
 	}

 	$('.unescape').each(function(){
		$(this)[0].innerHTML = unescape($(this)[0].innerHTML);
	});
</script>
</html>