<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>来创吧&middot;个人主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery/jquery.js"></script>
    <script src="__PUBLIC__/js/bootstrap/bootstrap.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS.js"></script>
    <script src="__PUBLIC__/js/util/send_msg.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS_sha1.js"></script>
  </head>

<body>
  <include file="./Public/tpl/navbar_home.html" />
  <div class="well">
  	<div class="container" style="margin-top:70px">
	    <div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="panel panel-default theme-outline">
				  	<div class="panel-body">
					  	<div class='row'>
					  		<div class="col-md-1 col-xs-12 text-center">
							    <if condition="strlen($user['portrait']) gt 0">
							    	<input type="image" class="thumbnail theme-profile" onclick="upload('#profile')" src='{$user.portrait}' alt="头像" height="90px" width="90px">
							    	<else />
							    	<input type="image" class="thumbnail theme-profile" onclick="upload('#profile')" src='__PUBLIC__/pic/investor.png' alt="头像" height="90px" width="90px">
							    </if>
					  		</div>
							<div class="col-md-11 col-xs-12">
								<p class="theme-h3 hide-edit">&nbsp;&nbsp;{$user.name}</p>
								<p class="hide-edit">
									<span>&nbsp;&nbsp;&nbsp;{$user.brief}</span>
								</p>
								<div class="row">
									<div class="col-md-6">
										<p id="interests" class="hide-edit theme-small">
											&nbsp;&nbsp;&nbsp;
											<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
										</p>
									</div>
									<!--<div class="col-md-2 col-md-offset-3 text-right">
										<if condition="$follow eq false">
											<a class="btn btn-default form-control theme-nav theme-btn-inverse" onclick="followPro({$info.project_id},'FOLLOWING')">关注</a>
											<else/>
											<a class="btn btn-default form-control theme-nav theme-btn" onclick="followPro({$info.project_id},'UNFOLLOW')">已关注</a>
										</if>
									</div>-->
								</div>
							</div>

						</div>
					</div>
			  	</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="panel panel-default theme-outline">
					<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-heading theme-h4">&nbsp;投资案例&nbsp;</span>
						</p>
					</div>
				  	<div class="panel-body">
				  		<div class="panel">
			  				<div class="panel-body">
								<div class="row">
									<volist name="prolist" id="pros">
										<div class="col-md-3 theme-well">
											<div class="col-md-4 col-xs-3 theme-nav">
												<if condition="strlen($pros['project_logo']) gt 0">
													<input type="image" class="thumbnail theme-profile" src="{$pros.project_logo}" height="60px" width="60px" onclick="openProject('{$pros.project_id}')"/>
													<else />
													<input type="image" class="thumbnail theme-profile" src="__PUBLIC__/pic/project.png" height="60px" width="60px" onclick="openProject('{$pros.project_id}')"/>
												</if>
											</div>
											<div class="col-md-8 col-xs-8 theme-nav">
												<p class="theme-h4">&nbsp;&nbsp;&nbsp;{$pros.project_name}</p>
												<p class="theme-h4">&nbsp;</p>
											</div>
										</div>
									</volist>
								</div>
							</div>
						</div>
				  		<volist name="caselist" id="cases">
				  			<div class="panel">
				  				<div class="panel-body theme-well">
								  	<div class='row'>
								  		<div class="col-md-2 col-xs-4">
										    <img class="thumbnail theme-profile" src='__PUBLIC__/pic/case.png' alt="Logo" height="80px" width="80px">
								  		</div>
										<div class="col-md-6 col-xs-8">
											<p class="theme-h4">&nbsp;&nbsp;&nbsp;{$cases.company}</p>
											<p class="theme-small">&nbsp;&nbsp;&nbsp;{$cases.investor_name}</p>
											<p class="theme-small">&nbsp;&nbsp;&nbsp;<span class="label label-warning">{$cases.round}</span>&nbsp;&nbsp;<span>{$cases.invest_time}</span>&nbsp;|&nbsp;投资金额&nbsp;<span class="theme-color">{$cases.invest_amount}万{$cases.invest_cur}</span></p>
										</div>
									</div>
								</div>
							</div>
						</volist>
						
			  		</div>
			  	</div>
			  	<div class="panel panel-default theme-outline">
					<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-h4 theme-heading">工作经历
						</p>
					</div>
				  	<div class="panel-body">
						<volist name="joblist" id="jobs">
							<div class="panel">
					  			<div class="panel-body theme-well">
								  	<div class='row'>
										<div class="col-md-6 col-xs-12">
											<p class="theme-h4">{$jobs.job_title}</p>
											<p class="theme-h5-small">{$jobs.job_info}</p>
											<p>{$jobs.job_company}&nbsp;|&nbsp;{$jobs.job_start}&nbsp;至&nbsp;{$jobs.job_end}</p>
										</div>
									</div>
								</div>
							</div>
						</volist>
					</div>
			  	</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="panel panel-default theme-outline">
					<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-h4 theme-heading">个人资料</span>
						</p>
					</div>
				  	<div class="panel-body">
				  		<div class="row">
							<div class="col-md-9 col-xs-12">
								<p class="theme-h5">
									<span class="theme-h5-small">&nbsp;&nbsp;公司:&nbsp;&nbsp;&nbsp;</span>
									<span>{$user.company}</span>
								</p>
								<p class="theme-h5">
									<span class="theme-h5-small">&nbsp;&nbsp;职位:&nbsp;&nbsp;&nbsp;</span>
									<span>{$user.title}</span>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<p class="theme-h4">社交账号</p>
								<p>&nbsp;&nbsp;
									<span class="glyphicon glyphicon-link theme-color"></span>
	 								<a class="btn theme-logo" href="{$user.sns_id}"><img src="__PUBLIC__/pic/weibo-on.png" height="32px" width="32px"/></a>
								</p>
							</div>
						</div>
						<div class="row">
							<if condition="session('type') eq 2">
								<div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
									<a class="btn btn-default theme-btn-inverse form-control" onclick="request_message({$user.user_id},'REQUIRE','INVESTOR')">我需要你&nbsp;!</a>
								</div>
							</if>
						</div>
					</div>
			  	</div>
			  	<div class="panel panel-default theme-outline">
					<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-h4 theme-heading">关注项目</span>
						</p>
					</div>
					<div class="panel-body">
						<volist name="watchlist" id="watch">
				  			<div class="row theme-well">
					  			<div class="col-md-2 col-xs-3 theme-nav">
									<if condition="strlen($watch['project_logo']) gt 0">
										<input type="image" class="thumbnail theme-profile" src="{$watch.project_logo}" height="60px" width="60px" onclick="openProject('{$watch.object_id}')"/>
										<else />
										<input type="image" class="thumbnail theme-profile" src="__PUBLIC__/pic/project.png" height="60px" width="60px" onclick="openProject('{$watch.object_id}')"/>
									</if>
								</div>
								<div class="col-md-9 col-xs-8 theme-nav">
									<p class="theme-h4">&nbsp;&nbsp;&nbsp;{$watch.project_name}</p>
								</div>
							</div>
				  		</volist>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
		    <div class="modal-body">
		      <h4 id="alert_content" style="color:#5B5B5B"></h4>
		      <textarea rows="3" class="form-control" id="request_info" style="display:none"></textarea>
		    </div>
		    <div class="modal-footer">
		      <div id="alertBtn">
		      	<button type="button" class="btn btn-default" data-dismiss="modal" id="modal_confirm">确定</button>
		      </div>
		      <div id="requireRequest">
		      	<button type="button" class="btn btn-default theme-btn-inverse" data-dismiss="modal" id="require_confirm">确定</button>
			    <button type="button" class="btn btn-default" data-dismiss="modal" id="require_cancel">取消</button>
			    <input type="hidden" id="require_input" />
		      </div>
		    </div>
		  </div>
		</div>
	</div>
  </div>
</body>
<script src="__PUBLIC__/js/bootstrap/theme.js"></script>
<script src="__PUBLIC__/js/Home/User/init.js"></script>
<script src="__PUBLIC__/js/util/form_validate.js"></script>
<script>
  	$('a[data-toggle=tooltip]').mouseover(function(){$(this).tooltip('show');});
  	addInterests({$interests},"#interests");

 	$('#require_confirm').click(function(){
		send_message($('#require_input').val()+"attach="+$('#request_info').val(),'{:U("Home/Message/receiver")}');
	});

	$('#require_cancel').click(function(){
		$('#require_input').val('');
	});

	function openProject(id){
	    window.open("{:U('Home/Case/info/key/"+id+"')}");
	}

</script>
</html>