<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>来创吧&middot;个人主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery/jquery.js"></script>
    <script src="__PUBLIC__/js/bootstrap/bootstrap.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS.js"></script>
    <script src="__PUBLIC__/js/util/send_msg.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS_sha1.js"></script>
  </head>

<body>
  <include file="./Public/tpl/navbar_home.html" />
  <div class="well">
  	<div class="container" style="margin-top:70px">
  		<div class="alert alert-warning alert-dismissible" role="alert" style="display:none">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <div id="alert_window">
		  </div>
		</div>
	    <div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="panel panel-primary theme-outline">
				  	<div class="panel-body">
					  	<div class='row'>
					  		<div class="col-md-1 col-xs-12 text-center">
					  			<form method="post" action="__URL__/profileSave" enctype="multipart/form-data" id="profile_form">
								    <input type="file" name="profile" id="profile" accept="image/jpg,imapge/jpeg,image/png,image/gif" height="0px" width="0px" onchange="finish_upload('#profile','#profile_form')" style="display:none;"/>
								</form>
							    <input type="image" class="thumbnail theme-profile" onclick="upload('#profile')" src='{$user.portrait}' alt="头像" height="90px" width="90px">
					  		</div>
							<div class="col-md-11 col-xs-12">
								<p class="theme-h3 hide-edit">
									<span>&nbsp;&nbsp;&nbsp;{:session('user')}</span>
									<a class="btn show-edit" style="display:none" onclick="editName()">
										<span class="glyphicon glyphicon-pencil theme-color"></span>
									</a>
									<input type="hidden" id="user_name" value="{:session('user')}" class="theme-form-control-1"/>
									<a id="saveName" class="btn btn-default" onclick="saveName()" style="display:none">
										<span class="glyphicon glyphicon-floppy-disk theme-color"></span>
									</a>
								</p>
								
								<p class="hide-edit">
									<span>&nbsp;&nbsp;&nbsp;{$user.brief}</span>
									<a class="btn show-edit" style="display:none" onclick="editBrief()">
										<span class="glyphicon glyphicon-pencil theme-color"></span>
									</a>
									<input type="hidden" id="user_brief" value="" class="theme-form-control-4"/>
									<a id="saveBrief" class="btn btn-default" onclick="saveBrief()" style="display:none">
										<span class="glyphicon glyphicon-floppy-disk theme-color"></span>
									</a>
								</p>
								<div class="row">
									<div class="col-md-6 col-xs-12">
										<p id="interests" class="hide-edit">&nbsp;&nbsp;&nbsp;
											<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
											<a class="btn show-edit" style="display:none" onclick="editField()">
												<span class="glyphicon glyphicon-pencil theme-color"></span>
											</a>
										</p>
									</div>
									<div class="col-md-2 col-md-offset-1 col-xs-6 text-right">
										<a class="btn btn-default form-control theme-btn-inverse" href="__URL__/investor/val/{$user.user_id}">预览</a>
									</div>
									<div class="col-md-2 col-xs-6 text-right">
										<if condition="$user.reg_status eq 0">
											<a class="btn btn-default form-control theme-btn" onclick="submitAuth('{$user.user_id}')">提交审核</a>
										</if>
										<if condition="$user.reg_status eq 1">
											<a href="#" class="btn btn-default form-control theme-btn">已提交审核</a>
										</if>
									</div>
								</div>
							</div>
						</div>
					</div>
			  	</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="panel panel-default theme-outline">
					<div class="panel-heading theme-heading">
						<h3 class="panel-title">投资案例<a class="btn" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample1" href="#collapseExample1"><span class="glyphicon glyphicon-plus theme-white" aria-hidden="true"></span></a></h3>
					</div>
				  	<div class="panel-body">
				  		<div class="collapse" id="collapseExample1">
							<hr>
							<div class="form-horizontal">
							  <div class="form-group">
							    <label for="company" class="col-md-2 col-md-offset-1 col-xs-12 control-label"><span class="required">*</span>公司简称</label>
							    <div class="col-md-7">
						        	<input type="text" class="form-control" id="company" placeholder="例: 来创">
						        </div>
							  </div>

							  <div class="form-group">
							    <label for="round" class="col-md-2 col-md-offset-1 col-xs-12 control-label"><span class="required">*</span>投资轮次</label>
							    <div class="col-md-4">
				              		<select class="form-control" id="round">
				              		</select>
				              	</div>
							  </div>

							  <div class="form-group">
							    <label for="currency1" class="col-md-2 col-md-offset-1 col-xs-12 control-label">此轮投资金额</label>
							    <div class="col-md-2 col-xs-6">
							    	<select class="form-control" id="currency1">
							    	</select>
							    </div>
							    <div class="col-md-3 col-xs-6">
					              	<div class="input-group">
						              	<input type="text" class="form-control" id="amount">
							            <span class="input-group-addon" id="basic-addon2">万</span>
							        </div>
							    </div>
				  			  </div>

							  <div class="form-group">
							    <label for="currency2" class="col-md-2 col-md-offset-1 col-xs-12 control-label">此轮估值</label>
								<div class="col-md-2 col-xs-6">
									<select class="form-control" id="currency2">
				              		</select>
				              	</div>
				              	<div class="col-md-3 col-xs-6">
									<div class="input-group">
										<input type="text" class="form-control" id="assess" >
										<span class="input-group-addon" id="basic-addon2">万</span>
									</div>
								</div>
							  </div>

							  <div class="form-group">
							    <label for="investor" class="col-md-3 col-xs-12 control-label"><span class="required">*</span>我代表的投资主体</label>
							    <div class="col-md-7">
						        	<input type="text" class="form-control" id="investor" placeholder="个人名称、机构名称或公司名称">
						        </div>
							  </div>

							  <div class="form-group">
							    <label for="investyear" class="col-md-2 col-md-offset-1 col-xs-12 control-label"><span class="required">*</span>投资时间</label>
							    <div class="col-md-3 col-xs-6">
							    	<div class="input-group">
							        	<select class="form-control" id="investyear">
							            </select>
							            <span class="input-group-addon" id="basic-addon2">年</span>
							        </div>
						        </div>
						        <div class="col-md-2 col-xs-6">
						        	<div class="input-group">
						        		<select class="form-control" id="investmon">
						            	</select>
						            	<span class="input-group-addon" id="basic-addon2">月</span>
						            </div>
						        </div>
							  </div>
							</div>

						    <div class="row">
						    	<div class="col-md-3 col-md-offset-3 col-xs-6">
						        	<button type="submit" class="btn btn-default theme-btn-inverse form-control" onclick="case_submit()">&nbsp;提交&nbsp;</button>    
						        </div>
						        <input type="hidden" id="editCase_input"/>
						        <div class="col-md-3 col-xs-6">
						        	<button type="submit" class="btn btn-default theme-btn form-control" onclick="hideCollapse('#collapseExample1')">&nbsp;取消&nbsp;</button>    
						        </div>
						    </div>
						    <hr>
						</div>
						<div class="panel">
			  				<div class="panel-body">
								<div class="row">
									<volist name="prolist" id="pros">
										<div class="col-md-1 col-xs-3 theme-nav">
											<input type="image" class="thumbnail theme-profile" src="{$pros.project_logo}" height="60px" width="60px" onclick="openProject('{$pros.project_id}')"/>
										</div>
										<div class="col-md-2 col-xs-8 theme-nav">
											<p class="theme-h4">&nbsp;&nbsp;&nbsp;{$pros.project_name}</p>
											<p class="theme-h4">&nbsp;</p>
										</div>
									</volist>
								</div>
							</div>
						</div>
				  		<volist name="caselist" id="cases">
				  			<div class="panel">
				  				<div class="panel-body hide-edit">
								  	<div class='row'>
								  		<div class="col-md-2 col-xs-4">
										    <img class="thumbnail theme-profile" src='/lcb/Public/pic/company.png' alt="Logo" height="90px" width="90px">
								  		</div>
										<div class="col-md-6 col-xs-6">
											<p class="theme-h4">{$cases.company}</p>
											<p>{$cases.investor_name}</p>
											<p><span class="text-danger">{$cases.round}</span>&nbsp;&middot;&nbsp;<span class="theme-small">{$cases.invest_time}</span>&nbsp;|&nbsp;投资金额{$cases.invest_amount}万{$cases.invest_cur}</p>
										</div>
										<div class="col-md-2 col-md-offset-2 col-xs-2">
											<a class="btn btn-default show-edit" data-toggle="tooltip" data-placement="top" title="编辑" style="display:none" onclick="editCase('{$cases.case_id}')"><span class="glyphicon glyphicon-pencil theme-color"></span></a>
											<a class="btn btn-default show-edit" data-toggle="tooltip" data-placement="top" title="删除" style="display:none" onclick="delCase('{$cases.case_id}')"><span class="glyphicon glyphicon-trash theme-color"></span></a>
										</div>
									</div>
								</div>
							</div>
						</volist>
						
						
			  		</div>
			  	</div>
			  	<div class="panel panel-default theme-outline">
					<div class="panel-heading theme-heading">
						<h3 class="panel-title">工作经历<a class="btn" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample2" href="#collapseExample2"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="color:#FFFFFF"></span></a></h3>
					</div>
				  	<div class="panel-body">
		  				<div class="collapse" id="collapseExample2">
							<hr>
					        <div class="form-horizontal">
							  <div class="form-group">
							    <label for="title" class="col-md-2 col-md-offset-1 col-xs-12 control-label"><span class="required">*</span>职位</label>
							    <div class="col-md-7">
						        	<input type="text" class="form-control" id="title">
						        </div>
							  </div>

							  <div class="form-group">
							    <label for="company2" class="col-md-2 col-md-offset-1 col-xs-12 control-label"><span class="required">*</span>公司名称</label>
							    <div class="col-md-7">
						        	<input type="text" class="form-control" id="company2" placeholder="例: 来创">
						        </div>
							  </div>

							  <div class="form-group">
							    <label for="startyear" class="col-md-2 col-md-offset-1 col-xs-12 control-label"><span class="required">*</span>开始日期</label>
							    <div class="col-md-3 col-xs-6">
							    	<div class="input-group">
							        	<select class="form-control" id="startyear">
							            </select>
							            <span class="input-group-addon">年</span>
							        </div>
						        </div>
						        <div class="col-md-2 col-xs-6">
						        	<div class="input-group">
						        		<select class="form-control" id="startmon">
						            	</select>
						            	<span class="input-group-addon">月</span>
						            </div>
						        </div>
							  </div>

							  <div class="form-group">
							    <label for="endyear" class="col-md-2 col-md-offset-1 col-xs-12 control-label"><span class="required">*</span>结束日期</label>
							    <div class="col-md-3 col-xs-6">
							    	<div class="input-group">
							        	<select class="form-control" id="endyear">
							            </select>
							            <span class="input-group-addon">年</span>
							        </div>
						        </div>
						        <div class="col-md-2 col-xs-6">
						        	<div class="input-group">
						        		<select class="form-control" id="endmon">
						            	</select>
						            	<span class="input-group-addon">月</span>
						            </div>
						        </div>
						        <div class="col-md-2 col-xs-6">
							      <div class="checkbox">
							        <label>
							          <input type="checkbox" id="untilnow" onclick="disableEnd(this.checked)">至今
							        </label>
							      </div>
							    </div>
							  </div>

							  <div class="form-group">
							    <label for="job_info" class="col-md-2 col-md-offset-1 col-xs-12 control-label"><span class="required">*</span>职位描述</label>
							    <div class="col-md-7">
						        	<textarea rows="3" class="form-control" id="job_info"></textarea>
						        </div>
							  </div>
							</div>
						    <div class="row">
						    	<div class="col-md-3 col-md-offset-3 col-xs-6">
						        	<button type="submit" class="btn btn-default form-control theme-btn-inverse" onclick="submitJob()">&nbsp;提交&nbsp;</button>    
						        </div>
						        <input type="hidden" id="editJob_input"/>
						        <div class="col-md-3 col-xs-6">
						        	<button type="submit" class="btn btn-default form-control theme-btn" onclick="hideCollapse('#collapseExample2')">&nbsp;取消&nbsp;</button>    
						        </div>
						    </div>
						    <hr>
						</div>
						<volist name="joblist" id="jobs">
							<div class="panel">
					  			<div class="panel-body hide-edit">
								  	<div class='row'>
										<div class="col-md-6 col-xs-10">
											<p class="theme-h4"><strong>{$jobs.job_title}</strong></p>
											<p class="theme-h4">{$jobs.job_company}</p>
											<p>{$jobs.job_start}至{$jobs.job_end}</p>
											<p>{$jobs.job_info}</p>
										</div>
										<div class="col-md-2 col-md-offset-4 col-xs-2">
											<a class="btn btn-default show-edit" data-toggle="tooltip" data-placement="top" title="编辑" style="display:none" onclick="editJob({$jobs.job_id})"><span class="glyphicon glyphicon-pencil theme-color"></span></a>
											<a class="btn btn-default show-edit" data-toggle="tooltip" data-placement="top" title="删除" style="display:none" onclick="delJob({$jobs.job_id})"><span class="glyphicon glyphicon-trash theme-color"></span></a>
										</div>
									</div>
								</div>
							</div>
						</volist>
					</div>
			  	</div>
			  	
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="panel panel-default theme-outline">
					<div class="panel-heading">
						<h3 class="panel-title">个人资料</h3>
					</div>
				  	<div class="panel-body">
				  		<div class="row hide-edit">
							<div class="col-md-9 col-xs-9">
								<p class="theme-h4">基本信息</p>
								<p class="theme-h4">
									<small>&nbsp;&nbsp;公司: {$user.company}</small>
								</p>
								<p class="theme-h4"><small>&nbsp;&nbsp;职位: {$user.title}</small></p>
							</div>
							<div class="col-md-2 col-xs-2">
								<a class="btn btn-default show-edit" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample3" href="#collapseExample3" style="display:none" onclick=""><span class="glyphicon glyphicon-pencil theme-color"></span></a>
							</div>
						</div>
						<div class="collapse" id="collapseExample3">
							<div class="row">
								<div class="col-md-10 col-md-offset-1 col-xs-12">
									<div class="form-group">
						              <label for="editCompany"><span class="required">*</span>公司</label>
						              <input type="text" name="company" class="form-control" id="editCompany" placeholder="">
						            </div>
						            <div class="form-group">
						              <label for="editTitle"><span class="required">*</span>职位</label>
						              <input type="text" name="title" class="form-control" id="editTitle" placeholder="">
						            </div>
						            <button type="submit" class="btn btn-default theme-btn-inverse form-control" onclick="editBasics()">&nbsp;保存&nbsp;</button>
						        </div>
							</div>
						</div>
						<hr>
				  		<form method="post" action="__URL__/cardSave" enctype="multipart/form-data" id="card_form" style="display:none">
						    <input type="file" name="mycard" id="mycard" accept="image/jpg,imapge/jpeg,image/png,image/gif" height="0px" width="0px" onchange="finish_upload('#mycard','#card_form')"/>
						</form>
						<br>
						<div class="row">
							<div class="col-md-4 col-xs-6">
								<a class="btn btn-default theme-btn-inverse form-control" onclick="upload('#mycard')">上传名片</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<img class="thumbnail" src="{$user.mycard}" height="162" width="288"></img>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<p class="theme-h4">财产信息或公司信息</p>
					            <form method="post" action="__URL__/authSave" enctype="multipart/form-data" id="finance_form">
					            	<if condition="$user.user_type eq 1">
						            	<div class="form-group">
							              <label for="companyType"><span class="required">*</span>公司性质</label>
							              <select class="form-control" name="companyType" id="companyType">
							                <option value="1">国有企业</option>
							                <option value="2">民营企业</option>
							                <option value="3">三资企业</option>
							                <option value="4">其他企业</option>
							              </select>
							            </div>
						            	<div class="form-group">
						              		<label><span class="required">*</span>营业执照</label>
										    <if condition="strlen($auth['license']) gt 0">
										    	<a href="{$auth.license}">已上传营业执照</a>
										    </if>
										    <input type="file" name="license" id="license" accept="image/jpg,imapge/jpeg,image/png,image/gif,application/pdf" height="0px" width="0px"/>
										</div>
										<div class="form-group">
							              	<label><span class="required">*</span>组织机构代码证</label>
							              	<if condition="strlen($auth['company_code']) gt 0">
							              		<a href="{$auth.company_code}">已上传机构代码证</a>
							              	</if>
											<input type="file" name="companyCode" id="companyCode" accept="image/jpg,imapge/jpeg,image/png,image/gif,application/pdf" height="0px" width="0px"/>
										</div>
										<div class="form-group">
							              	<label><span class="required">*</span>近三年财务报表</label>
							              	<if condition="strlen($auth['fi_statement']) gt 0">
							              		<a href="{$auth.fi_statement}">已上传财物报表</a>
							              	</if>
											<input type="file" name="statement" id="statement" accept="application/pdf" height="0px" width="0px"/>
										</div>
									</if>
									<if condition="$user.user_type eq 2">
										<div class="form-group">
							              <label for="fiType"><span class="required">*</span>财产证明类型</label>
							              <select class="form-control" name="fiType" id="fiType">
							                <option value="1">税单(年收入>100万证明)</option>
							                <option value="2">房产证明(固定资产>1000万证明)</option>
							                <option value="3">证券类资产>100万证明</option>
							              </select>
							            </div>
										<div class="form-group">
							              	<label><span class="required">*</span>财产证明</label>
							              	<if condition="strlen($auth['financial_doc']) gt 0">
							              		<a href="{$auth.financial_doc}">已上传财产证明</a>
							              	</if>
											<input type="file" name="finance" id="finance" accept="image/jpg,imapge/jpeg,image/png,image/gif,application/pdf" height="0px" width="0px"/>
										</div>
										<div class="form-group">
											<label><span class="required">*</span>说明</label>
											<div id="financeInfo">
							  					<textarea rows='5' name="pro_require" id="pro_require" class="form-control">{$auth.financial_info}</textarea>
											</div>
										</div>
									</if>
									<input type="submit" class="btn btn-default theme-btn-inverse" value="上传"/>
								</form>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<p class="theme-h4">链接社交账号</p>
								<p>
									<a data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample4" href="#collapseExample4"><span class="glyphicon glyphicon-link theme-color"></span></a>
	 								<a class="btn theme-logo" href="{$user.sns_id}"><img src="__PUBLIC__/pic/weibo-on.png" height="32px" width="32px"/></a>
								</p>
							</div>
 						</div>
 						<div class="collapse" id="collapseExample4">
	 						<div class="row">
	 							<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
	 								<div class="form-group">
						              <label for="editSNS">新浪微博URL</label>
						              <input type="text" name="company" class="form-control" id="editSNS" placeholder="" value="http://">
						            </div>
						            <button type="submit" class="btn btn-default theme-btn-inverse form-control" onclick="editSNS()">&nbsp;保存&nbsp;</button>
	 							</div>
	 						</div>
	 					</div>
					</div>
			  	</div>
			  	<div class="panel panel-default theme-outline">
					<div class="panel-heading">
						<h3 class="panel-title">关注项目</h3>
					</div>
					<div class="panel-body">
						<volist name="watchlist" id="watch">
				  			<div class="row">
					  			<div class="col-md-2 theme-nav col-xs-3">
									<input type="image" class="thumbnail theme-profile" src="{$watch.project_logo}" height="60px" width="60px" onclick="openProject('{$watch.object_id}')"/>
								</div>
								<div class="col-md-9 theme-nav col-xs-8">
									<p class="theme-h4">&nbsp;&nbsp;&nbsp;{$watch.project_name}</p>
								</div>
							</div>
				  		</volist>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
		    <div class="modal-body">
		      <h4 id="alert_content" style="color:#5B5B5B"></h4>
		      <div id="editField" style="display:none">
		      	<div class="row">
		      		<div class="col-md-10 col-md-offset-1">
					  	<div class="form-group">
			                <div id="conditions">
			                </div>
			                <div class="row"></div>
			                <label for="choices">已选择:</label>
			                <div id="choices">
			                </div>
			            </div>
			        </div>
			  </div>
		    </div>
		    <div class="modal-footer">
		      <div id="alertBtn">
		      	<button type="button" class="btn btn-default" data-dismiss="modal" id="modal_confirm">确定</button>
		      </div>
		      <div id="delCaseBtn">
			      <button type="button" class="btn btn-default theme-btn-inverse" data-dismiss="modal" id="delCase_confirm">确定</button>
			      <button type="button" class="btn btn-default" data-dismiss="modal" id="delCase_cancel">取消</button>
			      <input type="hidden" id="delCase_input" />
			  </div>
			  <div id="delJobBtn">
			      <button type="button" class="btn btn-default theme-btn-inverse" data-dismiss="modal" id="delJob_confirm">确定</button>
			      <button type="button" class="btn btn-default" data-dismiss="modal" id="delJob_cancel">取消</button>
			      <input type="hidden" id="delJob_input" />
			  </div>
			  <div id="editFieldBtn">
			      <button type="button" class="btn btn-default theme-btn-inverse" data-dismiss="modal" id="editField_confirm">保存</button>
			      <button type="button" class="btn btn-default" data-dismiss="modal" id="editField_cancel">取消</button>
			  </div>
		    </div>
		  </div>
		</div>
	</div>
  </div>
</body>
<script src="__PUBLIC__/js/bootstrap/theme.js"></script>
<script src="__PUBLIC__/js/Home/User/edit.js"></script>
<script src="__PUBLIC__/js/util/form_validate.js"></script>
<script src="__PUBLIC__/js/Home/User/init.js"></script>
<script src="__PUBLIC__/js/util/init.js"></script>
<script>
	$('a[data-toggle=tooltip]').mouseover(function(){$(this).tooltip('show');});
	var field = {$field};
	var rows = ({$fieldlen})/8;
	initializeField(rows,field);
	addInterests({$interests},"#interests");
	addRound({$rounds},"#round");
	addCur({$currency},"#currency1");
	addCur({$currency},"#currency2");
	addYM('#investyear','#investmon',1980);
	addYM('#startyear','#startmon',1960);
	addYM('#endyear','#endmon',1960);

	function openProject(id){
	  window.open("{:U('Home/Case/info/key/"+id+"')}");
	}

	$('#fiType').children('option').each(function(){
		if($(this).val()=='{$auth.financial_type}'){
		  $(this).attr('selected','selected');
		}
	});

	$('#companyType').children('option').each(function(){
		if($(this).val()=='{$auth.company_type}'){
		  $(this).attr('selected','selected');
		}
	});

	function submitAuth(id){
    var xmlHttp = createRequest();
    request(xmlHttp,'val='+id,"requestAuth");
    if(xmlHttp.responseText == '200'){
      alert('提交成功');
      document.location.reload();
    }
    else if(xmlHttp.responseText == '4041'){
      //alert('请填写姓名');
      $('#alert_window')[0].innerHTML = "<strong>请填写姓名</strong>"; 
      $('.alert').fadeIn();
      editName();
      $("#user_name").focus();
    }
    else if(xmlHttp.responseText == '4042'){
      //alert('请填写公司、职位信息');
      $('#alert_window')[0].innerHTML = "<strong>请填写公司、职位信息</strong>"; 
      $('.alert').fadeIn();
    }
    else if(xmlHttp.responseText == '4043'){
      //alert('请上传名片');
      $('#alert_window')[0].innerHTML = "<strong>请上传名片</strong>"; 
      $('.alert').fadeIn();
    }
    else if(xmlHttp.responseText == '4044'){
      //alert('请上传公司营业执照');
      $('#alert_window')[0].innerHTML = "<strong>请上传公司营业执照</strong>"; 
      $('.alert').fadeIn();
    }
    else if(xmlHttp.responseText == '4045'){
      //alert('请上传组织结构代码证件');
      $('#alert_window')[0].innerHTML = "<strong>请上传组织结构代码证件</strong>"; 
      $('.alert').fadeIn();
    }
    else if(xmlHttp.responseText == '4046'){
      //alert('请上传公司近三年财务报表');
      $('#alert_window')[0].innerHTML = "<strong>请上传公司近三年财务报表</strong>"; 
      $('.alert').fadeIn();
    }
    else if(xmlHttp.responseText == '4047'){
      //alert('请上传个人财产证明');
      $('#alert_window')[0].innerHTML = "<strong>请上传个人财产证明</strong>"; 
      $('.alert').fadeIn();
    }
    else if(xmlHttp.responseText == '4048'){
      //alert('请填写至少三个投资案例');
      $('#alert_window')[0].innerHTML = "<strong>请填写至少三个投资案例</strong>"; 
      $('.alert').fadeIn();
    }
    else{

    }

  }

</script>
</html>