<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>来创吧&middot;个人主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery/jquery.js"></script>
    <script src="__PUBLIC__/js/bootstrap/bootstrap.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS.js"></script>
    <script src="__PUBLIC__/js/util/send_msg.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS_sha1.js"></script>
  </head>

<body>
  <include file="./Public/tpl/navbar_home.html" />
  <div class="well">
  	<div class="container" style="margin-top:70px">
	    <div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="panel panel-primary theme-outline">
				  	<div class="panel-body">
					  	<div class='row'>
					  		<div class="col-md-1 col-xs-4 text-center">
							    <image class="thumbnail theme-profile" src='{$user.portrait}' alt="头像" height="90px" width="90px">
					  		</div>
							<div class="col-md-11 col-xs-6">
								<p class="theme-h3 hide-edit">&nbsp;&nbsp;&nbsp;{$user.name}</p>
								<p class="hide-edit">
									<span>&nbsp;&nbsp;&nbsp;{$user.brief}</span>
								</p>
								<div class="row">
									<div class="col-md-6">
										<p id="interests" class="hide-edit">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-tag" aria-hidden="true"></span></p>
									</div>
									<div class="col-md-2 col-md-offset-3 text-right">
										<if condition="$follow eq false">
											<a class="btn btn-default form-control theme-btn-inverse" onclick="followPro({$info.project_id},'FOLLOWING')">关注</a>
											<else/>
											<a class="btn btn-default form-control theme-btn" onclick="followPro({$info.project_id},'UNFOLLOW')">已关注</a>
										</if>
									</div>
								</div>
							</div>

						</div>
					</div>
			  	</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="panel panel-default theme-outline">
					<div class="panel-heading theme-heading">
						<h3 class="panel-title">投资案例</h3>
					</div>
				  	<div class="panel-body">
				  		<volist name="caselist" id="cases">
				  			<div class="panel">
				  				<div class="panel-body">
								  	<div class='row'>
								  		<div class="col-md-2 col-xs-4">
										    <img class="thumbnail theme-profile" src='/lcb/Public/pic/company.png' alt="Logo" height="90px" width="90px">
								  		</div>
										<div class="col-md-6 col-xs-6">
										<p class="theme-h4">{$cases.company}</p>
											<p>{$cases.investor_name}</p>
											<p><span class="text-danger">{$cases.round}</span>&nbsp;&middot;&nbsp;<span class="theme-small">{$cases.invest_time}</span>&nbsp;|&nbsp;投资金额{$cases.invest_amount}万{$cases.invest_cur}</p>
										</div>
									</div>
								</div>
							</div>
						</volist>
						
			  		</div>
			  	</div>
			  	<div class="panel panel-default theme-outline">
					<div class="panel-heading theme-heading">
						<h3 class="panel-title">工作经历</h3>
					</div>
				  	<div class="panel-body">
						<volist name="joblist" id="jobs">
							<div class="panel">
					  			<div class="panel-body">
								  	<div class='row'>
										<div class="col-md-6 col-xs-6">
											<p class="theme-h4"><strong>{$jobs.job_title}</strong></p>
											<p class="theme-h4">{$jobs.job_company}</p>
											<p>{$jobs.job_start}至{$jobs.job_end}</p>
											<p>{$jobs.job_info}</p>
										</div>
									</div>
								</div>
							</div>
						</volist>
					</div>
			  	</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="panel panel-default theme-outline">
					<div class="panel-heading">
						<h3 class="panel-title">个人资料</h3>
					</div>
				  	<div class="panel-body">
				  		<div class="row">
							<div class="col-md-9">
								<p class="theme-h4">基本信息</p>
								<p class="theme-h4">
									<small>&nbsp;&nbsp;公司: {$user.company}</small>
								</p>
								<p class="theme-h4"><small>&nbsp;&nbsp;职位: {$user.title}</small></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<p class="theme-h4">社交账号</p>
								<p>&nbsp;&nbsp;
									<span class="glyphicon glyphicon-link theme-color"></span>
	 								<a class="btn theme-logo" href="{$user.sns_id}"><img src="__PUBLIC__/pic/weibo-on.png" height="32px" width="32px"/></a>
								</p>
							</div>
						</div>
					</div>
			  	</div>
			</div>
		</div>
	</div>
	
  </div>
</body>
<script src="__PUBLIC__/js/bootstrap/theme.js"></script>
<script src="__PUBLIC__/js/Home/User/init.js"></script>
<script>
  $('a[data-toggle=tooltip]').mouseover(function(){$(this).tooltip('show');});
  addInterests({$interests},"#interests");
</script>
</html>