<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>来创吧&middot;账号设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery/jquery.js"></script>
    <script src="__PUBLIC__/js/bootstrap/bootstrap.js"></script>
    <script src="__PUBLIC__/js/bootstrap/theme.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS.js"></script>
    <script src="__PUBLIC__/js/util/send_msg.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS_sha1.js"></script>
  </head>

<body>
  <include file="./Public/tpl/navbar_home.html" />
  <div class="well">
  	<div class="container" style="margin-top:70px">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="panel panel-default theme-outline">
					<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-heading theme-h4">账号设置</span>
						</p>
					</div>
				  	<div class="panel-body">
				  		<div class="panel">
				  			<p class="theme-h5">修改密码</p>
				  			<div class="form-horizontal">
							  	<div class="form-group">
							    	<label for="pwd1" class="col-sm-2 col-sm-offset-1 col-xs-12 control-label"><span class="required">*</span>原密码</label>
							    	<div class="col-sm-6">
						        		<input type="password" class="form-control" id="pwd1">
						        	</div>
							  	</div>
							  	<div class="form-group">
							    	<label for="pwd2" class="col-sm-2 col-sm-offset-1 col-xs-12 control-label"><span class="required">*</span>新密码</label>
							    	<div class="col-sm-6">
						        		<input type="password" class="form-control" id="pwd2">
						        	</div>
							  	</div>
							  	<div class="form-group">
							    	<label for="pwd3" class="col-sm-2 col-sm-offset-1 col-xs-12 control-label"><span class="required">*</span>重复新密码</label>
							    	<div class="col-sm-6">
						        		<input type="password" class="form-control" id="pwd3">
						        	</div>
							  	</div>
							  	<div class="form-group">
							  		<input type="hidden" value="{$info.mobile}" id="mobile" />
							    	<label for="checkCode2" class="col-sm-2 col-sm-offset-1 col-xs-12 control-label"><span class="required">*</span>验证码</label>
							    	<div class="col-sm-3 col-xs-7">
						        		<input type="text" class="form-control" id="checkCode2">
						        	</div>
						        	<div class="col-sm-2 col-xs-4">
						        		<input type="button" class="btn btn-default theme-btn" value="获取验证码" onclick="settime(this,'#mobile','PPP')"/>
						        	</div>
							  	</div>
							</div>
							<div class="row">
						    	<div class="col-sm-2 col-sm-offset-3 col-xs-6 col-xs-offset-3">
						        	<button type="submit" class="btn btn-default theme-btn form-control" onclick="submitSecure()">&nbsp;保存&nbsp;</button>    
						        </div>
						    </div>

				  		</div>
				  		<div class="panel">
				  			<p class="theme-h5">更改手机号码</p>
				  			<div class="row">
				  				<div class="col-sm-6 col-sm-offset-3">
				  					<span><strong>{$info.mobile}</strong></span>
				  				</div>
				  			</div>
				  			<div class="form-horizontal">
							  	<div class="form-group">
							    	<label for="phone" class="col-sm-2 col-sm-offset-1 col-xs-12 control-label"><span class="required">*</span>修改手机</label>
							    	<div class="col-sm-6">
						        		<input type="text" class="form-control" id="phone">
						        	</div>
							  	</div>
							  	<div class="form-group">
							    	<label for="checkCode" class="col-sm-2 col-sm-offset-1 col-xs-12 control-label"><span class="required">*</span>验证码</label>
							    	<div class="col-sm-3 col-xs-7">
						        		<input type="text" class="form-control" id="checkCode">
						        	</div>
						        	<div class="col-sm-2 col-xs-4">
						        		<input type="button" class="btn btn-default theme-btn" value="获取验证码" onclick="settime(this,'#phone','MMM')"/>
						        	</div>
							  	</div>
							</div>
							<div class="row">
						    	<div class="col-sm-2 col-sm-offset-3 col-xs-6 col-xs-offset-3">
						        	<button type="submit" class="btn btn-default theme-btn form-control" onclick="submitMobile('{:U('Home/Index/logout')}')">&nbsp;保存&nbsp;</button>    
						        </div>
						    </div>
				  		</div>
				  		<div class="panel">
				  			<p class="theme-h5">更改邮箱地址</p>
				  			<div class="row">
				  				<div class="col-sm-6 col-sm-offset-3">
				  					<span><strong>{$info.email}</strong></span>
				  					<if condition="$info['active_status']">
				  						<span class="label label-info">已激活</span>
				  						<else />
				  						<span class="label label-warning">未激活</span>
				  						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  						<input type="hidden" id="email2" value="{$info.email}">
				  						<button type="submit" class="btn btn-default theme-btn" onclick="submitEmail('#email2')">&nbsp;激活邮箱&nbsp;</button> 
				  					</if>
				  				</div>
				  			</div>
				  			<div class="form-horizontal">
							  	<div class="form-group">
							    	<label for="email" class="col-sm-2 col-sm-offset-1 col-xs-12 control-label"><span class="required">*</span>邮箱</label>
							    	<div class="col-sm-6">
						        		<input type="text" class="form-control" id="email">
						        	</div>
							  	</div>
							</div>
							<div class="row">
						    	<div class="col-sm-2 col-sm-offset-3 col-xs-6 col-xs-offset-3">
						        	<button type="submit" class="btn btn-default theme-btn form-control" onclick="submitEmail('#email')">&nbsp;激活邮箱&nbsp;</button>    
						        </div>
						    </div>
				  		</div>
					</div>
			  	</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
		    <div class="modal-body">
		      <h4 id="alert_content" style="color:#5B5B5B"></h4>
		    </div>
		    <div class="modal-footer">
		      <div id="alertBtn">
		      	<button type="button" class="btn btn-default" data-dismiss="modal" id="modal_confirm">确定</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
  </div>
  <include file="./Public/tpl/footer_home.html" />
</body>
<script src="__PUBLIC__/js/bootstrap/theme.js"></script>
<script src="__PUBLIC__/js/util/form_validate.js"></script>
<script src="__PUBLIC__/js/Home/User/setting.js"></script>
<script>
  	$('a[data-toggle=tooltip]').mouseover(function(){$(this).tooltip('show');});
</script>
<script>
	var wait=60;
	function settime(o,val,type) {
		if (wait == 0) {
            o.removeAttribute("disabled");            
            o.value="获取验证码";
            wait = 60;
        } 
        else {
        	if (wait == 60){
        		if(checkPhone(val)){
	        		if(!queryCheckCode(val,type)){
	        			wait = 10;
	        		}
	        	}
	        	else{
	        		wait = 1;
	        	}
	        }
            o.setAttribute("disabled", true);
            o.value="重新发送(" + wait + ")";
            wait--;
            setTimeout(function() {
                settime(o)
            },
            1000)
        }
    }
</script>
</html>