<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>来创吧&middot;账号设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery/jquery.js"></script>
    <script src="__PUBLIC__/js/bootstrap/bootstrap.js"></script>
    <script src="__PUBLIC__/js/bootstrap/theme.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS.js"></script>
    <script src="__PUBLIC__/js/util/send_msg.js"></script>
    <script src="__PUBLIC__/js/security/cryptoJS_sha1.js"></script>
  </head>

<body>
  <include file="./Public/tpl/navbar_home.html" />
  <div class="well">
  	<div class="container" style="margin-top:70px">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="panel panel-default theme-outline">
					<div class="theme-panel-heading">
						<p class="panel-title">
							<span class="theme-heading theme-h4">账号设置</span>
						</p>
					</div>
				  	<div class="panel-body">
				  		<div class="panel">
				  			<p class="theme-h5">修改密码</p>
				  			<div class="form-horizontal">
							  	<div class="form-group">
							    	<label for="pwd1" class="col-md-2 col-md-offset-1 col-xs-12 control-label"><span class="required">*</span>原密码</label>
							    	<div class="col-md-6">
						        		<input type="password" class="form-control" id="pwd1">
						        	</div>
							  	</div>
							  	<div class="form-group">
							    	<label for="pwd2" class="col-md-2 col-md-offset-1 col-xs-12 control-label"><span class="required">*</span>新密码</label>
							    	<div class="col-md-6">
						        		<input type="password" class="form-control" id="pwd2">
						        	</div>
							  	</div>
							  	<div class="form-group">
							    	<label for="pwd3" class="col-md-2 col-md-offset-1 col-xs-12 control-label"><span class="required">*</span>重复新密码</label>
							    	<div class="col-md-6">
						        		<input type="password" class="form-control" id="pwd3">
						        	</div>
							  	</div>
							  	<div class="form-group">
							  		<input type="hidden" value="{$info.mobile}" id="mobile" />
							    	<label for="checkCode2" class="col-md-2 col-md-offset-1 col-xs-12 control-label"><span class="required">*</span>验证码</label>
							    	<div class="col-md-3">
						        		<input type="text" class="form-control" id="checkCode2">
						        	</div>
						        	<div class="col-md-2">
						        		<input type="button" class="btn btn-default theme-btn" value="获取验证码" onclick="settime(this,'#mobile')"/>
						        	</div>
							  	</div>
							</div>
							<div class="row">
						    	<div class="col-md-2 col-md-offset-3 col-xs-6 col-xs-offset-3">
						        	<button type="submit" class="btn btn-default theme-btn form-control" onclick="submitSecure()">&nbsp;保存&nbsp;</button>    
						        </div>
						    </div>

				  		</div>
				  		<div class="panel">
				  			<p class="theme-h5">更改手机号码</p>
				  			<div class="row">
				  				<div class="col-md-6 col-md-offset-3">
				  					<span><strong>{$info.mobile}</strong></span>
				  				</div>
				  			</div>
				  			<div class="form-horizontal">
							  	<div class="form-group">
							    	<label for="phone" class="col-md-2 col-md-offset-1 col-xs-12 control-label"><span class="required">*</span>修改手机</label>
							    	<div class="col-md-6">
						        		<input type="text" class="form-control" id="phone">
						        	</div>
							  	</div>
							  	<div class="form-group">
							    	<label for="checkCode" class="col-md-2 col-md-offset-1 col-xs-12 control-label"><span class="required">*</span>验证码</label>
							    	<div class="col-md-3">
						        		<input type="text" class="form-control" id="checkCode">
						        	</div>
						        	<div class="col-md-2">
						        		<input type="button" class="btn btn-default theme-btn" value="获取验证码" onclick="settime(this,'#phone')"/>
						        	</div>
							  	</div>
							</div>
							<div class="row">
						    	<div class="col-md-2 col-md-offset-3 col-xs-6 col-xs-offset-3">
						        	<button type="submit" class="btn btn-default theme-btn form-control" onclick="submitMobile()">&nbsp;保存&nbsp;</button>    
						        </div>
						    </div>
				  		</div>
				  		<div class="panel">
				  			<p class="theme-h5">更改邮箱地址</p>
				  			<div class="row">
				  				<div class="col-md-6 col-md-offset-3">
				  					<span><strong>{$info.email}</strong></span>
				  					<if condition="$info['active_status']">
				  						<span class="label label-info">已激活</span>
				  						<else />
				  						<span class="label label-warning">未激活</span>
				  						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  						<input type="hidden" id="email2" value="{$info.email}">
				  						<button type="submit" class="btn btn-default theme-btn" onclick="submitEmail('#email2')">&nbsp;激活邮箱&nbsp;</button> 
				  					</if>
				  				</div>
				  			</div>
				  			<div class="form-horizontal">
							  	<div class="form-group">
							    	<label for="email" class="col-md-2 col-md-offset-1 col-xs-12 control-label"><span class="required">*</span>邮箱</label>
							    	<div class="col-md-6">
						        		<input type="text" class="form-control" id="email">
						        	</div>
							  	</div>
							</div>
							<div class="row">
						    	<div class="col-md-2 col-md-offset-3 col-xs-6 col-xs-offset-3">
						        	<button type="submit" class="btn btn-default theme-btn form-control" onclick="submitEmail('#email')">&nbsp;激活邮箱&nbsp;</button>    
						        </div>
						    </div>
				  		</div>
					</div>
			  	</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
		    <div class="modal-body">
		      <h4 id="alert_content" style="color:#5B5B5B"></h4>
		    </div>
		    <div class="modal-footer">
		      <div id="alertBtn">
		      	<button type="button" class="btn btn-default" data-dismiss="modal" id="modal_confirm">确定</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
  </div>
  <include file="./Public/tpl/footer_home.html" />
</body>
<script src="__PUBLIC__/js/bootstrap/theme.js"></script>
<script src="__PUBLIC__/js/util/form_validate.js"></script>
<script>
  	$('a[data-toggle=tooltip]').mouseover(function(){$(this).tooltip('show');});
  	function queryCheckCode(val){
  		var mobile = $(val).val();
  		var xmlHttp = createRequest();
  		request(xmlHttp,'mobile='+mobile,'queryCheckCode');
  	}

  	function submitMobile(){
  		if(checkPhone('#phone')){
  			var mobile = "key1="+$('#phone').val()+"&";
	  		var code = "key2="+$('#checkCode').val()+"&";
	  		var data = mobile+code;
	  		var xmlHttp = createRequest();
	  		request(xmlHttp,data,'saveMobile');
	  		if(xmlHttp.responseText == 200){
	  			window.location.href = '{:U("Home/Index/logout")}';
	  		}
  		}
  		
  	}

  	function submitEmail(id){
  		if(checkEmail(id)){
  			var email = "key1="+$(id).val()+"&";
  			var xmlHttp = createRequest();
  			request(xmlHttp,email,'saveEmail');
  			if(xmlHttp.responseText == 200){
  				modalShow("alert_content","myModal",'激活邮件已发送，请前往邮箱查收并激活。');
  			}
  		}
  		
  	}

  	function submitSecure(){
  		if(checkPwd('#pwd2','#pwd3') && checkValue('#pwd1','64','6','密码不能少于6位')){
  			if($('#pwd1').val()==$('#pwd2').val()){
  				modalShow("alert_content","myModal",'修改密码与原密码一致，请重新输入');
  			}
  			else{
  				var data = "key1="+CryptoJS.SHA1($('#pwd1').val())+'&';
	  			data += "key2="+CryptoJS.SHA1($('#pwd2').val())+'&';
	  			data += "key3="+CryptoJS.SHA1($('#pwd3').val())+'&';
	  			data += 'key4='+$('#checkCode2').val()+'&';
	  			var xmlHttp = createRequest();
	  			request(xmlHttp,data,'saveChange');
	  			if(xmlHttp.responseText == 200){
	  				modalShow("alert_content","myModal",'修改密码成功，请重新登录');
	  			}
	  			else if(xmlHttp.responseText == 404){
	  				modalShow("alert_content","myModal",'原密码错误');
	  			}
	  			else{

	  			}
  			}
  		}
  	}

</script>
<script>
	var wait=60;
	function settime(o,val) {
		if (wait == 0) {
            o.removeAttribute("disabled");            
            o.value="获取验证码";
            wait = 60;
        } 
        else {
        	if (wait == 60){
        		if(checkPhone(val)){
	        		queryCheckCode(val);
	        	}
	        	else{
	        		wait = 1;
	        	}
	        }
            o.setAttribute("disabled", true);
            o.value="重新发送(" + wait + ")";
            wait--;
            setTimeout(function() {
                settime(o)
            },
            1000)
        }
    }
</script>
</html>